@import "variables";
@import "mixins";
// ----------------------------------------------------Text-----------------------------------------------------//
h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}

p {
    font-size: $p;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
a {
    font-size: $p;
    text-decoration: none;
    transition: all 0.5s ease-out;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        transition: all 0.5s ease-out;
        outline: 0;
    }
}
.common-h2 {
    font-weight: 600 !important;
    span {
        color: $primary;
        font-family: $primary-font !important;
        font-weight: 600 !important;
    }
}

.nav-item {
    .nav-link {
        @include a-animate;
    }
    .nav-link.dropdown-toggle {
        &:after {
            background: inherit !important;
            position: relative !important;
            display: inherit;
            height: auto;
            left: inherit;
            position: relative !important;
        }
        &:hover:after {
            width: inherit;
            left: inherit;
        }
    }
}
// ----------------------------------------------------Button-----------------------------------------------------//
button {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
    border-radius: $bdr-rds;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none !important;
        outline: 0;
    }
}

.btn-primary {
    @include buttn($primary, $white, $primary);
}

.btn-secondary {
    @include buttn($secondary, $white, $secondary);
}

.btn-tertiary {
    @include buttn($tertiary, $white, $tertiary);
}

.btn-primary-outline {
    @include buttn-outline($white, $primary, $primary);
}

.btn-secondary-outline {
    @include buttn-outline($white, $secondary, $secondary);
}
.btn-danger-outline {
    @include buttn-outline($white, $red, $red);
}
.btn-white-outline {
    @include buttn-outline(transparent, $white, $white);
    font-family: "Circular", sans-serif;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        transition: all 0.5s ease-out;
        outline: 0;
        background-color: $white;
        color: $primary;
        border-color: $white;
    }
}
.btn-secondary-outline {
    @include buttn-outline($primary, $secondary, $secondary);
}
.btn-black {
    @include buttn($black, $white, $black);
    height: 45px;
    @include flex-hv-cntr;
    padding: 0 20px;
    border-radius: $bdr-rds;
    span {
        font-weight: 600;
    }
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        transition: all 0.5s ease-out;
        outline: 0;
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
}
.btn-view-more {
    padding: 0 22px;
    font-size: 16px;
    height: 50px;
    background-color: rgba($color: $primary, $alpha: 0.2);
    border-radius: $bdr-rds;
    color: $primary;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
}
.btn-view-all {
    padding: 0 50px;
    font-size: 16px;
    height: 50px;
    background-color: $primary;
    border-radius: $bdr-rds;
    color: $white;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $tertiary;
        color: $white;
        border-color: $tertiary;
    }
}
.btn-google {
    @include buttn($google, $white, $google);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $bdr-rds;
    height: 50px;
    text-align: center;
    position: relative;

    .icon {
        text-align: left;
        position: absolute;
        left: 15px;
        top: 13px;
    }
    span {
        text-align: center;
        font-weight: 600;
    }
    margin-bottom: 20px;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none !important;
        outline: 0;
        background-color: darken($color: $google, $amount: 10%);
        color: $white;
        border-color: darken($color: $google, $amount: 10%);
    }
}
.btn-facebook {
    @extend .btn-google;
    @include buttn($facebook, $white, $facebook);
    margin: 0;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: darken($color: $facebook, $amount: 10%);
        color: $white;
        border-color: darken($color: $facebook, $amount: 10%);
    }
}
.btn-primary-check {
    @include buttn-outline($white, $primary, $primary);
    border-radius: $bdr-rds;
}
.btn-check:active + .btn-primary-check,
.btn-check:checked + .btn-primary-check,
.btn-primary-check.active,
.btn-primary-check:active,
.show > .btn-primary-check.dropdown-toggle {
    box-shadow: none !important;
    outline: 0;
    background-color: $primary;
    color: $white;
    border-color: $primary;
}
.btn-primary-check:active {
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
    }
}
.btn-general {
    padding: 0 22px;
    font-size: 16px;
    height: 50px;
    background-color: $primary;
    border-radius: $bdr-rds;
    color: $white;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $tertiary;
        color: $white;
        border-color: $tertiary;
    }
}
.btn-submit-secondary {
    padding: 0 50px;
    font-size: 16px;
    height: 50px;
    background-color: $secondary;
    border-radius: $bdr-rds;
    color: $white;
    margin-right: 20px;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $tertiary;
        color: $white;
        border-color: $tertiary;
    }
}
.btn-submit-primary {
    padding: 0 50px;
    font-size: 16px;
    height: 50px;
    background-color: $primary;
    border-radius: $bdr-rds;
    color: $white;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $tertiary;
        color: $white;
        border-color: $tertiary;
    }
}
.btn-submit-outline {
    padding: 0 50px;
    font-size: 16px;
    height: 50px;
    background-color: transparent;
    border-radius: $bdr-rds;
    color: $primary;
    margin-right: 20px;
    border: 1px solid $primary;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
}
.btn-plus {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    border: 1px solid $bdr;
    padding: 0 20px;
    color: $primary;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        color: $secondary;
        text-decoration: none;
    }
}
.common-a {
    @include text(16px, 16px, 600, $primary);
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        color: $secondary;
        text-decoration: none;
    }
}
.btn-outline-primary {
    @include buttn-outline($trans, $primary, $primary);
    border-radius: $bdr-rds;
}

.btn-outline-secondary {
    @include buttn-outline($trans, $secondary, $secondary);
    border-radius: $bdr-rds;
}
.btn-outline-tertiary {
    @include buttn-outline($trans, $tertiary, $tertiary);
    border-radius: $bdr-rds;
}
.btn-outline-light {
    @include buttn-outline($trans, $white6, $white6);
    border-radius: $bdr-rds;
}
.btn-white {
    @include buttn($white, $primary, $white);
    border-radius: $bdr-rds;
}
.btn {
    @include flex-hv-cntr;
}
// ----------------------------------------------------Form Control-----------------------------------------------------//

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
    box-shadow: none;
    outline: 0;
}
.form-check-inline {
    margin-right: 30px;
}

.form-control {
    height: 50px;
    border: 1px solid $bdr;
    border-radius: $bdr-rds;
    font-size: calc(#{$p} - 2px);
    font-weight: 400;
    &:focus {
        box-shadow: none;
        outline: 0;
        border-color: $primary;
    }
}
textarea.form-control {
    height: inherit !important;
    resize: none;
}
.form-check-input:focus {
    box-shadow: none !important;
}
.form-check-label {
    color: $body-color;
    opacity: 0.7;
    font-size: $p !important;
    font-weight: 400 !important;
}
.input-group-text {
    padding: 0px 20px;
    background-color: $white;
    border-radius: $bdr-rds;
}
.form-label {
    font-size: $p;
}
// ----------------------------------------------------Placeholder-----------------------------------------------------//

.form-control::-webkit-input-placeholder {
    color: rgba($color: $body-color, $alpha: 0.5);
}

.form-control::-moz-placeholder {
    color: rgba($color: $body-color, $alpha: 0.5);
}
.form-control:-ms-input-placeholder {
    color: rgba($color: $body-color, $alpha: 0.5);
}
.form-control:placeholder {
    color: rgba($color: $body-color, $alpha: 0.5);
}
// ----------------------------------------------------Mouse Selection-----------------------------------------------------//
::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: rgba($color: $primary, $alpha: 0.7);
}

::selection {
    color: $white;
    background: rgba($color: $primary, $alpha: 0.7);
}
// ----------------------------------------------------Nav or Pills-----------------------------------------------------//
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background: $primary;
    color: $white;
}
.nav-pills {
    .nav-link {
        color: $primary;
        background: $white;
    }
}
.tab-content {
    background-color: $white;
    padding: 30px;
    border-radius: $bdr-rds;
    width: 100%;
}
// ----------------------------------------------------Pagination-----------------------------------------------------//
.page-link {
    @include circle(30px, $white);
    border: 1px solid $primary;
    padding: 0;
    margin: 0px 10px;
    color: $primary;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $secondary;
        color: $white;
        border-color: $secondary;
        text-decoration: none;
    }
}
.page-item.active .page-link {
    box-shadow: none;
    outline: 0;
    background-color: $primary;
    color: $white;
    border-color: $primary;
    text-decoration: none;
}
.a-prev,
.a-next {
    width: auto;
    border-color: transparent !important;
    border-radius: 0;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: transparent;
        color: $secondary;
        border-color: $secondary;
        text-decoration: none;
    }
}
.a-prev {
    i {
        margin-right: 10px;
    }
}
.a-next {
    i {
        margin-left: 10px;
    }
}
// ----------------------------------------------------UL-----------------------------------------------------//
.common-ul {
    list-style: none;
    padding: 0;
    li {
        a {
            @include text(16px, 36px, 400, $black9);
            &:hover,
            &:active,
            &:focus {
                outline: 0;
                color: $primary;
                text-decoration: none;
            }
        }
    }
}
.custom-hdng {
    h3 {
        @include text(20px, 20px, 700, $primary);
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    .separator {
        width: 100%;
        height: 3px;
        background-color: $secondary;
        margin: 30px 0;
    }
}
.common-h3 {
    @include text(25px, 25px, 600, $body-color);
    margin: 30px 0;
    span {
        color: $primary;
        font-weight: 600;
    }
}
// ----------------------------------------------------Main Accordion-----------------------------------------------------//
.accordion-section {
    margin-top: 50px;
    .accordion-item:first-of-type {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        overflow: hidden;
        .accordion-button {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
    .accordion-item {
        box-shadow: $box-shadow;
        border: none;
        border-bottom: 1px solid $bdr;
    }
    .accordion-button {
        @include text(20px, 20px, 600, $body-color);
        padding: 30px 20px;
        font-family: $primary-font;
        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            outline: 0;
            text-decoration: none;
        }
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
    }
    .accordion-item:last-of-type {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .accordion-button:not(.collapsed) {
        background-color: rgba($color: $primary, $alpha: 0.1);
        @include text(20px, 20px, 600, $primary);
    }
    .accordion-body {
        p {
            @include text(16px, 30px, 400, $black9);
        }
        ul {
            list-style-image: url("../../assets/images/svg/check_list-image.svg");
            li {
                p {
                    @include text(16px, 16px, 400, $black9);
                    margin-bottom: 20px;
                }
            }
        }
    }
    .btn-general {
        height: 40px;
        font-size: 16px;
        margin-top: 10px;
    }
}
// --------------------------------------------------------------------File Input-----------------------------------------------------------------//
.hidden-xs-up {
    // display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.file-input {
    background-color: $white !important;
    position: relative;
}
.file-upload {
    .btn-primary-outline {
        border-top-right-radius: $bdr-rds !important;
        border-bottom-right-radius: $bdr-rds !important;
        height: 50px;
        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            outline: 0;
            text-decoration: none;
        }
    }
}
// --------------------------------------------------------------------Modal----------------------------------------------------------------------//
.modal-content {
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 50px;
}
.modal-dialog {
    @include flex-hv-cntr;
    height: 100%;
}
.modal-body {
    padding: 0;
}
// -------------------------------------------------------------------Toggle Buttons--------------------------------------------------------------------//
.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    box-shadow: none !important;
    background-color: $primary;
}
.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    box-shadow: none !important;
    background-color: $primary;
    border-color: $primary;
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: none !important;
}
// -------------------------------------------------------------------Carousal--------------------------------------------------------------------//
.carousel-item {
    height: 400px;
    overflow: hidden;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: $white;
}
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: inherit !important;
}
.carousel-indicators button.active {
    background-color: $primary !important;
}

.form-select {
    height: 50px;
    border: 1px solid $bdr;
    border-radius: $bdr-rds;
    font-family: $secondary-font;
    font-size: 14px;
    &:focus {
        box-shadow: none !important;
        border: 1px solid $primary;
    }
}
.responsive-search-bar {
    .select2-selection {
        max-width: 180px !important;
    }
}
