@import "variables";
@import "mixins";
// ----------------------------------------------------Text-----------------------------------------------------//
h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}

p {
    font-size: $p;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
a {
    font-size: $p;
    text-decoration: none;
    transition: all 0.5s ease-out;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
        transition: all 0.5s ease-out;
        outline: 0;
    }
}
.common-h2 {
    font-weight: 600 !important;
    span {
        color: $primary;
        font-weight: 600 !important;
    }
}
.media-show {
    display: none;
}
// ----------------------------------------------------Button-----------------------------------------------------//
button {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-out;
    border-radius: 10px;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
    }
}

.btn-primary {
    @include buttn($primary, $white, $primary);
}

.btn-secondary {
    @include buttn($secondary, $white, $secondary);
}

.btn-tertiary {
    @include buttn($tertiary, $white, $tertiary);
}

.btn-primary-outline {
    @include buttn-outline($white, $primary, $primary);
}

.btn-secondary-outline {
    @include buttn-outline($white, $secondary, $secondary);
}

.btn-white-outline {
    @include buttn-outline(transparent, $white, $white);
    font-family: "Circular", sans-serif;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        transition: all 0.5s ease-out;
        outline: 0;
        background-color: $white;
        color: $primary;
        border-color: $white;
    }
}
.btn-secondary-outline {
    @include buttn-outline($primary, $secondary, $secondary);
}
.btn-black {
    @include buttn($black, $white, $black);
    height: 50px;
    @include flex-cntr;
    padding: 0 26px;
    border-radius: 10px;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        transition: all 0.5s ease-out;
        outline: 0;
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
}
.btn-view-more {
    padding: 0 22px;
    font-size: 20px;
    height: 50px;
    background-color: rgba($color: $primary, $alpha: 0.2);
    border-radius: 10px;
    color: $primary;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $primary;
        color: $white;
        border-color: $primary;
    }
}
.btn-view-all {
    padding: 0 50px;
    font-size: 20px;
    height: 50px;
    background-color: $primary;
    border-radius: 10px;
    color: $white;
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $tertiary;
        color: $white;
        border-color: $tertiary;
    }
}
// ----------------------------------------------------Form Control-----------------------------------------------------//

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
    box-shadow: none;
}
.form-check-inline {
    margin-right: 30px;
}
.form-control {
    border-radius: 10px;
    height: 50px;
    &:focus {
        border: 1px solid $primary;
    }
}
// ----------------------------------------------------Placeholder-----------------------------------------------------//
::-webkit-input-placeholder {
    /* Edge */
    color: rgba($color: $body-color, $alpha: 0.2);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba($color: $body-color, $alpha: 0.2);
}

::placeholder {
    color: rgba($color: $body-color, $alpha: 0.2);
}
