@media screen and (max-width: 575px) {
    .media-show {
        display: block !important;
    }
    .media-hide {
        display: none;
    }
    .results-content .content-section {
        width: 93vw !important;
    }
    .nb {
        width: 100vw !important;
        .top-menu {
            display: none;
        }
        .navbar-collapse {
            padding-bottom: 20px;
        }
        .navbar-brand {
            img {
                width: 60% !important;
            }
        }
        .d-flex {
            flex-wrap: wrap;
            .signin-box {
                width: 100%;
                margin-bottom: 20px !important;
                .btn-user {
                    padding: 0 !important;
                    margin: auto;
                }
            }
            .btn-black {
                width: 100% !important;
            }
        }
    }
    .banner {
        height: auto !important;
        background: none !important;
        .search-bar-container {
            padding: 20px !important;
            width: 100% !important;

            p {
                display: none;
            }
            h2 {
                font-size: 24px !important;
                line-height: normal !important;
            }
            h1 {
                font-size: 32px !important;
                line-height: normal !important;
            }
        }
    }
    .categories {
        padding-top: 0 !important;
    }

    .category-wrapper {
        margin-top: 30px !important;

        .category-row {
            width: 100% !important;
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem !important;
            .category {
                padding: 0px !important;
                .icon {
                    width: 60px !important;
                    height: 60px !important;
                    min-width: 60px !important;
                    margin: auto;
                    img {
                        width: 50% !important;
                    }
                }
                .heading p {
                    line-height: normal !important;
                    font-size: 14px !important;
                }
                &:hover,
                &:active,
                &:focus {
                    box-shadow: none !important;
                }
            }
            .c15 {
                .icon {
                    img {
                        height: 50% !important;
                    }
                }
            }
            .c4,
            .c12,
            .c18 {
                img {
                    padding: 5px;
                }
            }
        }
    }
    .gs_reveal {
        opacity: 1 !important;
        visibility: visible !important;
    }
    .bg-pad {
        display: none !important;
    }
    .counter {
        background-image: none !important;
        h4 {
            font-size: 24px !important;
            line-height: normal !important;
        }
        p {
            font-size: 18px !important;
            line-height: normal !important;
        }
        img {
            width: 100%;
            padding-top: 30px;
        }
    }
    .featured {
        padding-bottom: 30px !important;
    }

    .contact-form {
        .form-section {
            padding-top: 30px !important;
            margin-right: 0 !important;
        }
    }
    .faq {
        padding: 20px !important;
        margin: 50px 0 !important;
        .content {
            background-size: 50% !important;
        }
        h5 {
            font-size: 24px !important;
        }
        p {
            font-size: 14px !important;
            margin: 20px 0 !important;
        }
    }
    .subscribe {
        overflow: visible !important;
        margin-top: 100px;
        h5 {
            font-size: 24px !important;
            margin-top: 30px;
            span {
                font-size: 24px !important;
            }
        }
        .newletter-input {
            .form-control {
                height: 50px !important;
                border-top-left-radius: 10px !important;
                border-bottom-left-radius: 10px !important;
                font-size: 16px !important;
            }
            .btn {
                height: 50px !important;
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                padding: 0 20px !important;
            }
        }
    }
    .popular-content {
        h5 {
            font-size: 18px !important;
            margin-bottom: 20px !important;
        }
        p {
            font-size: $mob-p !important;
            line-height: 28px !important;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .footer {
        width: 100vw !important;
        padding: 50px 0 0 0 !important;
        ul {
            padding-left: 0 !important;
        }
        p,
        a {
            font-size: $mob-p !important;
        }
        .copyright-section {
            margin-top: 30px !important;
            p {
                text-align: center;
            }
            .social-links {
                justify-content: center !important;
                margin-top: 20px;
            }
        }
    }

    .near-you,
    .freelancers,
    .testimonials {
        .common-h2 {
            span {
                display: block;
            }
        }
    }
    .testimonials {
        margin-top: 20px !important;
    }
    .top-pick-card {
        margin-bottom: 20px !important;
        height: 300px !important;
    }

    .modal-content {
        // padding: 20px !important;
        .custom-h {
            font-size: 24px !important;
            span {
                display: block;
            }
        }
    }
    section {
        overflow: hidden !important;
    }
    #SignUp {
        .logo img {
            width: 50% !important;
        }
        .btn-google {
            margin-bottom: 10px !important;
        }
        .common-h2 {
            font-size: 18px !important;
        }
    }
    .coming-soon {
        .slider-content {
            margin-top: 20px;
            .slider {
                min-height: 200px !important;
                height: 200px;
                margin-bottom: 30px;
                .img {
                    border-radius: $b-rds;
                }
            }
        }
    }
    .container-fluid {
        padding-right: 15px !important;
    }
    .demo-gallery > ul > li {
        list-style: outside none none;
        margin-bottom: 20px !important;
    }
    .btn-google .icon,
    .btn-facebook .icon {
        top: 8px !important;
    }
    .signin-box {
        .dropdown-menu.show {
            min-width: 100% !important;
            border-radius: $b-rds;
        }
        a,
        span {
            font-size: 14px !important;
        }
    }

    .flex-mob-wrap {
        flex-wrap: wrap !important;
        gap: 0.5rem !important;
    }
    .w-mob-100 {
        width: 100% !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .media-show {
        display: block !important;
    }
    .media-hide {
        display: none;
    }
    .nb {
        width: 100vw !important;
        .top-menu {
            display: none;
        }
        .navbar-collapse {
            padding-bottom: 20px;
        }
        .navbar-brand {
            img {
                width: 60% !important;
            }
        }
        .d-flex {
            flex-wrap: wrap;
            .signin-box {
                width: 100%;
                margin-bottom: 20px !important;
                .btn-user {
                    padding: 0 !important;
                    margin: auto;
                }
            }
            .btn-black {
                width: 100% !important;
            }
        }
    }
    .banner {
        background-position: bottom !important;
        .search-bar-container {
            padding: 20px !important;
            width: 100% !important;

            p {
                display: none;
            }
            h2 {
                font-size: 24px !important;
                line-height: normal !important;
            }
            h1 {
                font-size: 32px !important;
                line-height: normal !important;
            }
        }
    }
    .category-wrapper {
        margin-top: 30px !important;
        .category-row {
            width: 100% !important;
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);
            .category {
                padding: 17px !important;
                .icon {
                    width: 60px !important;
                    height: 60px !important;
                    min-width: 60px !important;
                    margin: auto;
                    img {
                        width: 50% !important;
                    }
                }
                .heading p {
                    line-height: normal !important;
                }
            }
            .c15 {
                .icon {
                    img {
                        height: 50% !important;
                    }
                }
            }
            .c4,
            .c12,
            .c18 {
                img {
                    padding: 5px;
                }
            }
        }
    }
    .gs_reveal {
        opacity: 1 !important;
        visibility: visible !important;
    }
    .bg-pad {
        display: none !important;
    }
    .counter {
        background-image: none !important;
        h4 {
            font-size: 24px !important;
            line-height: normal !important;
        }
        p {
            font-size: 18px !important;
            line-height: normal !important;
        }
        img {
            width: 100%;
            padding-top: 30px;
        }
    }
    .featured {
        padding-bottom: 30px !important;
    }

    .contact-form {
        padding-top: 0 !important;
        .form-section {
            padding-top: 30px !important;
            margin-right: 0 !important;
        }
    }
    .faq {
        padding: 20px !important;
        margin: 50px 0 !important;
        .content {
            background-size: 50% !important;
        }
        h5 {
            font-size: 24px !important;
        }
        p {
            font-size: 16px !important;
        }
    }
    .subscribe {
        margin-top: 100px;
        h5 {
            font-size: 24px !important;
            margin-top: 30px;
            span {
                font-size: 24px !important;
            }
        }
        .newletter-input {
            .form-control {
                height: 50px !important;
                border-top-left-radius: 10px !important;
                border-bottom-left-radius: 10px !important;
                font-size: 16px !important;
            }
            .btn {
                height: 50px !important;
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                padding: 0 20px !important;
            }
        }
    }
    .popular-content {
        h5 {
            font-size: 18px !important;
            margin-bottom: 20px !important;
        }
        p {
            font-size: $mob-p !important;
            line-height: 28px !important;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .footer {
        width: 100vw !important;
        padding: 50px 0 0 0 !important;
        ul {
            padding-left: 0 !important;
        }
        p,
        a {
            font-size: $mob-p !important;
        }
        .copyright-section {
            margin-top: 30px !important;
            p {
                text-align: center;
            }
            .social-links {
                justify-content: center !important;
                margin-top: 20px;
            }
        }
    }

    .top-pick-card {
        margin-bottom: 20px !important;
    }

    .coming-soon {
        .slider-content {
            margin-top: 20px;
            .slider {
                min-height: 200px !important;
                .img {
                    border-radius: $b-rds;
                }
            }
        }
    }
    .btn-google .icon,
    .btn-facebook .icon {
        top: 8px !important;
    }
    div.listing-card .overall-rating,
    .ticket-rate {
        justify-content: flex-end !important;
    }
    .testimonials {
        margin-top: 0 !important;
    }
    .listing-card .bottom-section .btn-warpper {
        width: 60% !important;
        margin: 0 !important;
    }
    div.listing-card .txt-section .bottom-section {
        flex-wrap: nowrap !important;
    }
    .profile-details {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .name-link {
        display: none;
    }
    .media-show {
        display: block !important;
    }
    .media-hide {
        display: none;
    }
    .nb {
        width: 100vw !important;

        .navbar-brand {
            img {
                width: 60% !important;
            }
        }
        .d-flex {
            flex-wrap: wrap;
            .signin-box {
                width: 100%;
                margin-bottom: 20px !important;
                .btn-user {
                    padding: 0 !important;
                    margin: auto;
                }
            }
            .btn-black {
                width: 100% !important;
            }
        }
        .navbar-collapse {
            padding-bottom: 20px;
        }
    }
    .banner {
        background-position: bottom !important;
        height: 50vh !important;
        .search-bar-container {
            padding: 20px !important;
            width: 100% !important;

            p {
                display: none;
            }
            h2 {
                font-size: 32px !important;
                line-height: normal !important;
            }
            h1 {
                font-size: 42px !important;
                line-height: normal !important;
            }
        }
    }
    .category-wrapper {
        margin-top: 30px !important;
        .category-row {
            width: 100% !important;
            display: grid !important;
            grid-template-columns: repeat(6, 1fr);
            .category {
                padding: 17px !important;
                .icon {
                    width: 60px !important;
                    height: 60px !important;
                    min-width: 60px !important;
                    margin: auto;
                    img {
                        width: 50% !important;
                    }
                }
                .heading p {
                    line-height: normal !important;
                }
            }
            .c15 {
                .icon {
                    img {
                        height: 50% !important;
                    }
                }
            }
            .c4,
            .c12,
            .c18 {
                .icon {
                    img {
                        padding: 5px !important;
                    }
                }
            }
        }
    }
    .counter {
        background-image: none !important;
        h4 {
            font-size: 24px !important;
            line-height: normal !important;
        }
        p {
            font-size: 18px !important;
            line-height: normal !important;
            margin: 10px 0 !important;
        }
        img {
            width: 100%;
            padding-top: 30px;
        }
    }
    .freelancers {
        .hs__item {
            width: 30% !important;
            flex: 1 0 calc(30% - 10px * 2) !important;
        }
        .content-box {
            .cover-image {
                height: 70px !important;
            }
            .profile-image {
                margin-top: -30px !important;
                img {
                    width: 80px !important;
                    height: 80px !important;
                }
            }

            .btn-warpper {
                .btn {
                    width: 100% !important;
                }
            }
        }
        .save-btn {
            bottom: 80px !important;
            right: 10px !important;
        }
    }

    .faq {
        padding: 20px !important;
        margin: 50px 0 !important;
        .content {
            background-size: 30% !important;
        }
        h5 {
            font-size: 24px !important;
        }
        p {
            font-size: 16px !important;
        }
    }
    .subscribe {
        margin-top: 100px;
        h5 {
            font-size: 24px !important;
            margin-top: 30px;
            span {
                font-size: 24px !important;
            }
        }
        .btn-primary {
            padding: 5px 30px !important;
            border-top-right-radius: 15px !important;
            border-bottom-right-radius: 15px !important;
        }
        .newletter-input input {
            border-top-left-radius: 15px !important;
            border-bottom-left-radius: 15px !important;
        }
    }
    .footer {
        width: 100vw !important;
        padding: 50px 0 0 0 !important;
        ul {
            padding-left: 0 !important;
        }
        p,
        a {
            font-size: $p !important;
        }
        .copyright-section {
            margin-top: 30px !important;

            .social-links {
                justify-content: flex-end !important;
            }
        }
    }
    .gs_reveal {
        opacity: 1 !important;
        visibility: visible !important;
    }
    .coming-soon {
        .slider-content {
            margin-top: 20px;
            .slider {
                min-height: 400px !important;
                .img {
                    border-radius: $b-rds;
                }
            }
        }
    }
    .navbar-collapse {
        margin-top: 30px !important;
    }
    .saved-items-wrapper {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-column-gap: 15px !important;
        grid-row-gap: 15px !important;
    }
    .preview-dropdown-options {
        position: absolute !important;
        .dropdown-menu {
            transform: none !important;
        }
        .btn-circle {
            margin-left: auto;
            text-align: center;
        }
    }
    .category-mini {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    // .profile-pic {
    //     margin-top: -213px !important;
    // }
    .equal-md-4-2 {
        position: relative;
        display: block;
        overflow: hidden;
        height: auto !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        &::before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 25% !important;
        }
    }

    .equal-md-4-2 > * {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .ticket-rate {
        width: 100% !important;
        margin-top: 8px;
    }

    .user-profile {
        min-height: 20vh !important;
        .profile-pic {
            width: 120px !important;
        }
    }
    .general-banner {
        margin-top: 104px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .nb {
        .name-link {
            display: none !important;
        }
        .navbar-brand img {
            width: 50% !important;
        }
        .nav-link {
            margin: 0 10px !important;
            padding: 0 !important;
        }
        .navbar-collapse {
            width: 70% !important;
        }
        .btn-user {
            margin-right: 20px !important;
            padding: 0 !important;
            span {
                display: none !important;
            }
        }
    }
    .banner {
        background-position: bottom !important;
        .search-bar-container {
            padding: 20px !important;
            width: 70% !important;

            p {
                display: none;
            }
            h2 {
                font-size: 32px !important;
                line-height: normal !important;
            }
            h1 {
                font-size: 42px !important;
                line-height: normal !important;
            }
        }
    }
    .counter {
        background-image: none !important;
        h4 {
            font-size: 32px !important;
            line-height: normal !important;
        }
        p {
            font-size: 24px !important;
            line-height: normal !important;
            margin: 10px 0 !important;
        }
        img {
            width: 100%;
            padding-top: 30px;
        }
        img.media-show {
            display: block !important;
        }
    }
    .upcoming-events {
        .img-section {
            img {
                border-radius: 10px;
            }
        }
    }
    .coming-soon-card {
        background-size: 40% !important;
        h3 {
            font-size: 42px !important;
        }
    }

    section {
        padding: 50px 0 !important;
    }
    .faq {
        margin: 50px 0;
        height: auto !important;
        .content {
            background-size: 20% !important;
            p {
                width: 70% !important;
            }
        }
    }
    .newletter-input {
        padding: 0 !important;
        margin-top: 30px;
    }
    .subscribe {
        .img-container {
            margin: 50px 0 !important;
        }
    }
    .popular-content {
        p:last-child {
            margin-bottom: 0 !important;
        }
    }
    .footer {
        ul {
            padding: 0 !important;
        }
        padding-bottom: 0 !important;
    }
    #myBtn {
        bottom: 70px !important;
    }
    .listing-preview {
        div.profile-pic {
            margin-top: -50px !important;
            width: 120px !important;
            min-width: 120px !important;
            height: 120px !important;
            border-radius: 15px !important;
        }
    }
    .saved-items-wrapper {
        grid-template-columns: repeat(4, 1fr) !important;
        grid-column-gap: 15px !important;
        grid-row-gap: 15px !important;
    }
    .category-mini {
        grid-template-columns: repeat(6, 1fr) !important;
    }
    .equal-md-4-2 {
        &::before {
            padding-top: 25% !important;
        }
    }
    .pos-sticky {
        top: 100px !important;
    }
    .modal .reply-form-button {
        margin-top: 24px !important;
    }
    .add-new-wrapper {
        .accordion-item:first-child {
            .accordion-collapse.collapse.show {
                border-bottom: 1px solid $bdr !important;
                border-radius: 0 !important;
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1365px) {
    #myBtn {
        bottom: 70px !important;
    }
    .counter {
        background-image: none !important;
        h4 {
            font-size: 32px !important;
            line-height: normal !important;
        }
        p {
            font-size: 24px !important;
            line-height: normal !important;
            margin: 10px 0 !important;
        }
        img {
            width: 100%;
            padding-top: 30px;
        }
        img.media-show {
            display: block !important;
        }
    }
    .hs__wrapper {
        padding-right: 0 !important;
    }
    .banner {
        background-position: bottom !important;
        .search-bar-container {
            padding: 20px !important;
            width: 70% !important;
        }
    }
    .faq {
        .content {
            background-size: 40% !important;
            p {
                width: 70% !important;
            }
        }
    }
    .upcoming-events {
        .img-section {
            img {
                border-radius: 10px;
            }
        }
    }
    .nb {
        .dropdown-content {
            width: 60vw !important;
        }
    }
    .saved-items-wrapper {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .pos-sticky {
        top: 150px !important;
    }
    .equal-4-1::before {
        padding-top: 25% !important;
    }
    h1.subscribe-heading {
        font-size: 72px !important;
        margin-top: 100px;
    }
    .sub-plans .pricing-item {
        flex: 0 1 300px !important;
        .custom-ul p {
            text-align: start;
        }
    }
    .likes-wrapper {
        flex-wrap: wrap;
        .like,
        .dislike {
            width: 100%;
            justify-content: flex-end;
            margin: 0 !important;
        }
    }
}
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .category-mini {
        grid-template-columns: repeat(6, 1fr) !important;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1700px) {
    .nb {
        p,
        a,
        label,
        span {
            font-size: 14px !important;
        }
    }
    .hs__wrapper {
        padding-right: 0 !important;
    }
    .banner {
        background-position: bottom !important;
        .search-bar-container {
            padding: 30px !important;
            width: 60% !important;
        }
    }
    .categories .category-row {
        width: 100% !important;
    }
    .counter {
        background-size: 50% !important;
    }
    .upcoming-events {
        .img-section {
            img {
                border-radius: 10px;
            }
        }
    }
    .faq {
        .content {
            background-size: 40% !important;
            p {
                width: 70% !important;
            }
        }
    }
    .saved-items-wrapper {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .equal-4-1::before {
        padding-top: 25% !important;
    }
    .likes-wrapper {
        flex-wrap: wrap;
        .like,
        .dislike {
            width: 100%;
            justify-content: flex-end;
            margin: 0 !important;
        }
    }
    .highlighted-content {
        padding: 20px !important;
        a {
            word-wrap: break-word;
            word-break: break-all;
        }
    }
    h1.subscribe-heading {
        font-size: 84px !important;
        margin-top: 100px;
    }
    .sub-plans .pricing-item {
        flex: 0 1 350px !important;
        .custom-ul p {
            text-align: start;
        }
    }
}

@media screen and (min-width: 1701px) and (max-width: 1920px) {
}

@media screen and (min-width: 1921px) {
}
@media screen and (min-width: 1700px) {
    .container {
        max-width: 1620px !important;
    }
}
@media screen and (max-width: 1399px) {
    .btn {
        padding: 5px 15px !important;
    }
}
@media screen and (max-width: 767px) {
    .slide-item {
        padding: 10px 0 !important;
        .list-item {
            padding: 10px !important;
            h5 {
                font-size: 18px !important;
            }
        }
    }
    a {
        font-size: 14px;
    }

    p,
    a,
    .form-label {
        font-size: 14px !important;
    }
    .custom-hdng .separator {
        margin: 15px 0 !important;
    }
    .answer-card h5 {
        margin-bottom: 15px !important;
    }
    .answer-card .auther-info h6,
    .feedback-card .main-content .auther-info h6 {
        font-size: 14px !important;
    }
    .auther-info {
        text-align: left;
    }
    .common-h2.mb-0 {
        margin-bottom: 0 !important;
    }
    .profile .highlighted-content {
        padding: 15px !important;
    }
    .column a {
        padding: 5px 12px !important;
    }
    .search-results-container {
        padding: 5px !important;
        .sr-content {
            padding: 5px 8px !important;
        }
    }

    .quick-action-wrapper {
        justify-content: center !important;
        width: 100%;
        .quick-action-link {
            width: 45px !important;
            height: 45px !important;
            min-width: 45px !important;
            border-radius: 45px !important;
        }
    }
    .likes-wrapper {
        flex-wrap: wrap;
        .like {
            margin: 0 !important;
        }
    }
    .reply-card-wrapper {
        .likes-wrapper {
            justify-content: flex-start !important;
            margin-top: 10px;
        }
    }
    .user-profile {
        padding: 50px 0 !important;
        div.profile-pic {
            width: 120px !important;
            min-width: 120px !important;
            height: 120px !important;
            border-radius: 15px !important;
            margin-top: 0 !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .general-info {
            width: 100% !important;
        }
    }
    .listing-preview {
        div.profile-pic {
            margin-top: -50px !important;
            width: 120px !important;
            min-width: 120px !important;
            height: 120px !important;
            border-radius: 15px !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .general-info {
            width: 100% !important;
            text-align: center;
        }
        .preview-dropdown-options {
            position: static !important;
            .dropdown-menu {
                transform: none !important;
            }
            .btn-circle {
                margin: auto;
                text-align: center;
            }
        }
    }
    .saved-items-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-column-gap: 15px !important;
        grid-row-gap: 15px !important;
    }
    .general-info .title {
        justify-content: center;
    }
    .general-info {
        div.profile-pic {
            margin-bottom: 30px !important;
        }
    }
    .freelancer-card {
        .fl-profile-pic {
            width: 90px !important;
            margin-top: -50px !important;
        }
    }
    .d-mob-block {
        display: block !important;
    }
    .ticket-rate {
        width: 100% !important;
    }
    .profile-options-dropdown {
        margin: auto !important;
        transform: none !important;
        width: 50%;
    }
    .profile-options {
        flex-wrap: wrap !important;
    }
    .div-split {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .border-radius-md.wide-ad {
        border-radius: 15px !important;
        &::before {
            padding-top: 40% !important;
        }
    }
    .equal-mob-4-1 {
        position: relative;
        display: block;
        overflow: hidden;
        height: auto !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        &::before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 25% !important;
        }
    }
    .equal-mob-4-2 {
        position: relative;
        display: block;
        overflow: hidden;
        height: auto !important;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        &::before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 50% !important;
        }
    }
    .equal-mob-4-1 > * {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .equal-mob-4-2 > * {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .justify-content-mob-center {
        justify-content: center !important;
    }
    .price-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: -8px;
    }
    .dload-app.fw-600 {
        width: 50% !important;
        line-height: 1.8 !important;
    }
    .add-new-wrapper {
        .accordion-item:first-child {
            .accordion-collapse.collapse.show {
                // border-bottom: 1px solid $bdr !important;
                border-radius: 0 !important;
            }
        }
        accordion-item:nth-child(2) {
            margin-top: -1px !important;
        }
    }
}
@media screen and (max-width: 991px) {
    .dropdown-menu {
        position: static !important;
    }
    .listing-card .txt-section .bottom-section {
        flex-wrap: wrap !important;
        gap: 0.5rem !important;
    }
    .listing-card .txt-section .btn-warpper {
        width: 100% !important;
    }
    .listing-card {
        .overall-rating {
            justify-content: flex-start !important;
        }
    }
    .listing-card .btn-save {
        padding: 0 !important;
    }
    .listing-type-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        .category {
            padding: 20px !important;
        }
    }
}
@media screen and (max-height: 767px) {
    .banner {
        background-size: cover !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1699px) {
    div.content-splitter {
        flex-wrap: wrap !important;
        .btn-warper {
            width: 100% !important;
        }
        .ticket-rate {
            width: 100% !important;
            justify-content: flex-start !important;
            margin-top: 8px;
        }
    }
}
