// -----------------------------------------------------------------Navbar-------------------------------------------------------------
.nb {
    background: $white !important;
    padding: 0;
    margin: 0;
    position: fixed;
    flex-wrap: wrap;
    a {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            transition: all 0.5s ease-out;
            outline: 0;
            color: $primary !important;
        }
    }
    .top-menu {
        width: 100vw;
        background-color: rgba($color: $primary, $alpha: 0.1);
        padding: 10px 0;
    }
    .left-portion {
        display: flex;
        .phone,
        .email {
            margin-right: 30px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            a {
                margin-left: 10px;
                @include text(14px, 20px, 400, $body-color);
            }
        }
    }
    .right-portion {
        display: flex;
        justify-content: flex-end;
        float: right;
        .common-links {
            display: flex;
            a {
                @include text(14px, 20px, 400, $body-color);
            }
            .separator {
                width: 1px;
                height: 14px;
                background-color: $body-color;
                margin: 0px 25px;
            }
        }
        .social-links {
            display: flex;
            a {
                margin-right: 10px;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    .icon {
        @include circle(20px, $primary);
        i {
            color: $white;
            font-size: 10px;
        }
    }
    .navbar-brand {
        padding: 20px 0;
    }
    .nav-link {
        margin: 0 15px;
        color: $body-color !important;
    }
    .btn-black {
        img {
            margin-right: 10px;
        }
    }
    .btn-user {
        background-color: transparent;
        border-color: transparent;
        margin-right: 40px;
        &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23337AB7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        }
        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            outline: 0;
        }
        img {
            margin-right: 10px;
        }
    }
}

// -----------------------------------------------------------------Banner-------------------------------------------------------------
.banner {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    background: $white3;
    background-repeat: no-repeat;
    position: relative;
    background: url("../images/svg/banner.svg");
    background-repeat: no-repeat;
    background-size: contain;
    @include flex-cntr;
    .search-bar-container {
        padding: 50px 50px 20px 50px;
        background-color: $white;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 50%;
        .content {
            h2 {
                @include text(54px, 54px, 400, $body-color);
            }
            h1 {
                @include text(80px, 80px, 400, $body-color);
                margin-bottom: 20px;
                span {
                    color: $secondary;
                }
            }
            p {
                opacity: 0.5;
                margin: 30px 0;
            }
        }
        .search-bar-section {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            height: 100%;
            overflow: hidden;
            border-radius: 10px;
            .btn {
                height: 50px;
                padding: 0px 23px;
                border-radius: 0;
                border-color: $primary;
            }
            .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .select2 {
                margin-bottom: 0 !important;
            }
        }
    }
}
section {
    padding: 100px 0;
}
