// ----------------------------------------------------Common Variables---------------------------------------------//
$primary: #059762;
$secondary: #8fd03d;
$tertiary: #33aa55;
$bdr: #ddd;
$body-color: #111;
$bdr-rds: 10px;
$bdr-rds2: 20px;
$box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
$pad: 10px;
$trans: transparent;
// ----------------------------------------------------Other Colors----------------------------------------------//
$color1: #d9534f;
$color2: #5cb85c;
$color3: #cdffa1;
$google: #dc4d23;
$facebook: #3d5da5;
// ----------------------------------------------------Text Colors------------------------------------------------//
$txt1: #151442;
$txt2: #342b42;
$txt3: #454545;
// ----------------------------------------------------White Shades----------------------------------------------//
$white: #fff !default;
$white9: #f9f9f9;
$white8: #f8f8f8;
$white7: #f7f7f7;
$white6: #f6f6f6;
$white5: #f5f5f5;
$white4: #f4f4f4;
$white3: #f3f3f3;
$white2: #f2f2f2;
$white1: #f1f1f1;

// ----------------------------------------------------Black Shades----------------------------------------------//
$black: #000 !default;
$black1: #111;
$black2: #222;
$black3: #333;
$black4: #444;
$black5: #555;
$black6: #666;
$black7: #777;
$black8: #888;
$black9: #666;
// ----------------------------------------------------Other Shades----------------------------------------------//
$red: #c20000 !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
// ----------------------------------------------------Width-----------------------------------------------------//
$full-w: 100%;
$half-w: 50%;
$qtr-w: 25%;
// ----------------------------------------------------Text-----------------------------------------------------//
$h1: 80px;
$h2: 47px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;
$p: 16px;
$mob-p: calc(#{$p} - 2px);
$primary-font: "Circular";
$secondary-font: "Inter", sans-serif;
