// ----------------------------------------------------Banner------------------------------------------------//
.general-banner {
    width: 100vw;
    height: 35vh;
    margin-top: 161px;
    padding-top: 50px;
    background-image: url("../../images/general-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .overlay {
        background-color: rgba($color: $primary, $alpha: 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .content {
        position: relative;
        z-index: 1;
    }
    .breadcrumb-wrapper {
        align-items: center;
        p {
            @include text(16px, 16px, 400, $white);
        }
        a {
            @include text(16px, 16px, 600, $white);
            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
                outline: 0;
                text-decoration: none;
                color: $secondary;
            }
        }
        .breadcrumb-item.active {
            color: $white;
        }
        .breadcrumb-item + .breadcrumb-item::before {
            color: $white;
        }
        .breadcrumb {
            align-items: center;
        }
    }
    .content {
        h2 {
            @include text(48px, 48px, 700, $white);
            margin: 50px 0;
        }
    }
}
// ----------------------------------------------------Life at Beheco------------------------------------------------//
.life {
    background-color: rgba($color: $primary, $alpha: 0.05);
    .life-image-wrapper {
        padding: 20px;
        // box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        max-height: 500px;
        overflow: hidden;
        border-radius: 20px;
        img {
            width: 100%;
        }
    }
    .life-content {
        padding: 0 0 0 50px;
        h2 {
            margin-bottom: 50px;
        }
        p {
            @include text(16px, 30px, 400, $black9);
        }
    }
}
.common-section {
    p {
        @include text(16px, 30px, 400, $black9);
    }
    h2 {
        margin-bottom: 50px;
    }
}
// ----------------------------------------------------Life at Beheco------------------------------------------------//
.about {
    .content {
        padding-right: 50px;
    }
    .image-wrapper {
        margin-top: 100px;
        img {
            width: 100%;
        }
    }
}

// ----------------------------------------------------Drop CV------------------------------------------------//
.drop-cv {
    background-color: rgba($color: $tertiary, $alpha: 0.9);
    padding: 50px 0;

    .image-wrapper {
        img {
            width: 100%;
        }
    }
    .v-center {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }
    h2 {
        @include text(40px, 60px, 600, $white);
        width: 100%;
        span {
            color: $body-color;
            font-weight: 700;
        }
    }
    .btn-dropcv {
        padding: 10px 30px;
        background-color: $secondary;
        border: 1px solid $secondary;
        color: $white;
        margin-top: 20px;
        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            outline: 0;
            text-decoration: none;
            background-color: $primary;
            border: 1px solid $primary;
        }
    }
}
.drop-cv-modal {
    max-width: 800px;
    overflow: hidden;
    .modal-body {
        text-align: left;
        .common-h2 {
            font-size: 40px !important;
        }
    }
}
.modal {
    overflow: hidden;
}
.general-banner.align-v-center {
    padding: 100px 0;
}
.bg-business {
    background-image: url("../../images/bg-business.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-align-center {
    text-align: center;
}
// ----------------------------------------------------Add New Wrapper-----------------------------------------------//
.add-new-wrapper {
    .accordion-body {
        padding: 60px 40px;
    }
    .helper-text {
        margin: 30px 0;
    }
}
