@import "../variables";
@import "../mixins";

.modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    border-radius: 20px;
    border: none;
    text-align: center;
    .modal-body {
        padding: 0;
    }
    .common-h2 {
        font-size: 25px !important;
        text-align: center;
        margin-bottom: 30px;
    }
    padding: 50px;
    .logo {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .icon-wrapper {
        display: flex;
        justify-content: center;
        img {
            width: 100px;
        }
    }
    .success-heading {
        text-align: center;
        @include text(32px, 32px, 700, $tertiary);
        margin: 25px 0 10px 0;
    }
    .error-heading {
        text-align: center;
        @include text(32px, 32px, 700, $red);
        margin: 25px 0 10px 0;
    }
    p {
        @include text(16px, 32px, 400, $black6);
    }
    .full-wdth-btn {
        .btn {
            height: 60px;
            border-radius: 10px;
            font-size: 20px;
            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
}
