// --------------------------------------------------------------Navbar-------------------------------------------------------------//
.inner-nb {
    .search-bar {
        display: flex;
        flex-wrap: nowrap;
        .content {
            display: flex;

            .form-control {
                border-radius: 0;
            }
            .select2-selection {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-right: 0px;
                border-right-color: transparent;
            }
        }
        .select2 {
            margin: 0 !important;
            width: 250px !important;
        }
        .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 0 20px;
        }
    }
}
.offer-banner {
    padding-top: 128px !important;
    padding-bottom: 0 !important;
}
// --------------------------------------------------------------Results Content-------------------------------------------------------------//
.results-content {
    padding-top: 0;
    padding-bottom: 0;
    .sidebar-header {
        margin-top: -40px;
    }
    .breadcrumb-wrapper {
        padding: 20px;
        background-color: rgba($color: $primary, $alpha: 0.2);
        border-radius: 10px;
        margin: 30px 0;
        .breadcrumb {
            margin: 0;
            a,
            li {
                @include text(14px, 14px, 400, $body-color);
            }
            a {
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }
}

.listing-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.listing-card {
    background-color: $white;
    padding: 15px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1) !important;
    border-radius: 20px;
    transition: 0.2s all ease-out;
    &:hover {
        .image-wrapper {
            img {
                width: 110% !important;
            }
        }
    }
    .txt-section {
        h5 {
            width: 80%;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 5px;
            overflow: hidden;
        }
        p {
            margin: 7px 0;
        }
        .right-align {
            width: 20%;
            align-items: flex-start;
            i {
                color: $bdr;
                font-size: 23px;
            }
        }
        .btn-warpper {
            width: 60%;
        }

        .bottom-section {
            flex-wrap: nowrap !important;
        }
    }
    .overall-rating {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 40%;
        p {
            margin: 0 0 0 10px;
            @include text(16px, 16px, 400, $body-color);
        }
        i {
            color: $primary;
        }
    }
    p {
        @include text(15px, 15px, 400, rgba($color: $body-color, $alpha: 0.5));
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px 0 20px 0;
    }
    h5 {
        @include text(25px, 35px, 600, $body-color);
    }
    .image-wrapper {
        border-radius: 10px;
        overflow: hidden;
        transition: 0.2s all ease-out;
        img {
            width: 100%;
            transition: 0.2s all ease-out;
        }
    }
    .btn-save {
        padding: 0;
        z-index: 1111;
        position: relative;
        &:hover,
        &:active,
        &:focus {
            i {
                color: $primary;
                transition: 0.2s all ease-out;
            }
        }
    }
}
.pagination-wrapper {
    margin: 30px 0 0 0;
}
.related-search {
    padding-bottom: 50px;
    h3 {
        @include text(25px, 28px, 600, $body-color);
        margin: 30px 0 20px 0;
        span {
            color: $primary;
            font-weight: 600;
        }
    }
}
.related-search {
    a {
        @include a-animate;
    }
}
// // --------------------------------------------------------------Mini Banner-------------------------------------------------------------//
.mini-banner {
    padding: 128px 0 0 0;
    .img-thumbnail {
        width: 33.333%;
    }
    .span4 {
        display: flex;
    }
}
// --------------------------------------------------------------Offer Ad Content Slider-------------------------------------------------------//
.offer-ad-content {
    margin: 30px 0;
    .carousel-inner {
        max-height: 250px;
        overflow: hidden;
        border-radius: $b-rds-md;
    }
}
@media screen and (max-width: 470px) {
    .offers {
        #content-section-wrapper {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .offer-banner {
        padding-top: 80px !important;
        padding-bottom: 0 !important;
    }
    .mini-banner {
        padding-top: 138px !important;
        padding-bottom: 0 !important;
    }
    #applyNow {
        .custom-h {
            span {
                display: inline-block !important;
            }
        }
    }
    .results-content {
        padding-top: 0 !important;
        width: 100% !important;
        .sidebar-header {
            margin-top: 0 !important;
        }
        .breadcrumb-item.active {
            font-size: $mob-p;
            padding-top: 5px;
        }
    }
    #content-section-wrapper {
        padding: 0 !important;
        // margin-left: -50px;
        .listing-card {
            padding: 10px !important;

            .top-section {
                h5 {
                    font-size: 18px !important;
                    line-height: 20px !important;
                }
            }
        }
        .listing-wrapper {
            grid-template-columns: repeat(2, 1fr) !important;
            width: 100% !important;
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
    }
    .results-content #sidebarCollapse {
        display: block !important;
    }
    .pagination {
        flex-wrap: wrap;
        .page-item {
            margin-bottom: 10px;
        }
    }
    .keyword-wrapper {
        a {
            font-size: $mob-p !important;
            line-height: 28px !important;
        }
    }
    .related-search {
        padding-bottom: 0 !important;
    }
    .results-page {
        .container-fluid {
            padding: 0 15px !important;
        }
        .search-bar {
            width: 100% !important;
        }
    }
    .offers {
        .content-section {
            width: 93vw !important;
        }

        #content-section-wrapper {
            width: 93vw !important;
        }
        .listing-card {
            .bottom-section {
                flex-wrap: wrap !important;
                .btn-warpper,
                .overall-rating {
                    width: 100% !important;
                    justify-content: left !important;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .mini-banner {
        padding-top: 174px !important;
        padding-bottom: 0 !important;
    }
    .results-content #sidebar {
        min-width: 250px !important;
    }
    #content-section-wrapper {
        width: 100% !important;
        padding: 0 20px !important;
        .listing-wrapper {
            grid-template-columns: repeat(3, 1fr) !important;
            width: 100% !important;
            .listing-card {
                padding: 15px !important;
            }
        }
    }
    .results-content {
        padding-top: 0 !important;
        width: 100% !important;
    }
    .pagination {
        flex-wrap: wrap;
        .page-item {
            margin-bottom: 10px;
        }
    }
    .keyword-wrapper {
        a {
            font-size: $p !important;
        }
    }
    .results-content #sidebarCollapse {
        display: block !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .mini-banner {
        padding-top: 128px !important;
        padding-bottom: 0 !important;
    }
    .results-content #sidebar {
        min-width: 250px !important;
    }
    #content-section-wrapper {
        width: 100% !important;
        padding: 0 20px !important;
        .listing-wrapper {
            grid-template-columns: repeat(3, 1fr) !important;
            width: 100% !important;
            .listing-card {
                padding: 15px !important;
            }
        }
    }
    .results-content {
        padding-top: 0 !important;
        width: 100% !important;
    }
    .pagination {
        flex-wrap: wrap;
        .page-item {
            margin-bottom: 10px;
        }
    }
    .keyword-wrapper {
        a {
            font-size: $p !important;
        }
    }
    .results-content {
        padding-bottom: 0 !important;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1345px) {
    #content-section-wrapper {
        width: 100% !important;
        padding: 0 20px !important;
        .listing-wrapper {
            grid-template-columns: repeat(4, 1fr) !important;
            width: 100% !important;
            .listing-card {
                padding: 15px !important;
            }
        }
    }
}
@media screen and (min-width: 1346px) and (max-width: 1800px) {
    #content-section-wrapper {
        width: 100% !important;
        padding: 0 20px !important;
        .listing-wrapper {
            grid-template-columns: repeat(5, 1fr) !important;
            width: 100% !important;
            .listing-card {
                padding: 15px !important;
                .image-wrapper {
                    height: 180px !important;
                }
            }
        }
    }
}
