// --------------------------------------------------------------Navbar-------------------------------------------------------------//
.inner-nb {
    .search-bar {
        display: flex;
        flex-wrap: nowrap;
        .content {
            display: flex;

            .form-control {
                border-radius: 0;
            }
            .select2-selection {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-right: 0px;
                border-right-color: transparent;
            }
        }
        .select2 {
            margin: 0 !important;
            width: 250px !important;
        }
        .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 0 20px;
        }
    }
}
.offer-banner {
    padding-top: 128px !important;
    padding-bottom: 0 !important;
}
// --------------------------------------------------------------Results Content-------------------------------------------------------------//
.results-content {
    padding-top: 0;
    padding-bottom: 0;
    .sidebar-header {
        margin-top: -40px;
    }
    .breadcrumb-wrapper {
        padding: 20px;
        background-color: rgba($color: $primary, $alpha: 0.2);
        border-radius: 10px;
        margin: 30px 0;
        .breadcrumb {
            margin: 0;
            a,
            li {
                @include text(14px, 14px, 400, $body-color);
            }
            a {
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }
}

.listing-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.pagination-wrapper {
    margin: 30px 0 0 0;
}
.related-search {
    padding-bottom: 50px;
    h3 {
        @include text(25px, 1.2, 600, $body-color);
        margin: 30px 0 20px 0;
        span {
            color: $primary;
            font-weight: 600;
        }
    }
}
.related-search {
    a {
        @include a-animate;
    }
}
// // --------------------------------------------------------------Mini Banner-------------------------------------------------------------//
.mini-banner {
    padding: 128px 0 0 0;
    .img-thumbnail {
        width: 33.333%;
    }
    .span4 {
        display: flex;
    }
}
.results-content {
    .accordion-item:first-child {
        .collapse.show {
            border-bottom: 1px solid $bdr;
        }
    }
}
// --------------------------------------------------------------Offer Ad Content Slider-------------------------------------------------------//
.offer-ad-content {
    margin: 30px 0;
    .carousel-inner {
        max-height: 250px;
        overflow: hidden;
        border-radius: $b-rds-md;
    }
}
.results-content .accordion-item:first-child .accordion-button {
    border-bottom: 1px solid $bdr !important;
}
@media screen and (max-width: 470px) {
    .offers {
        #content-section-wrapper {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .offer-banner {
        padding-top: 80px !important;
        padding-bottom: 0 !important;
    }
    .mini-banner {
        padding-top: 138px !important;
        padding-bottom: 0 !important;
    }
    #applyNow {
        .custom-h {
            span {
                display: inline-block !important;
            }
        }
    }
    .results-content {
        padding-top: 0 !important;
        width: 100% !important;
        .sidebar-header {
            margin-top: 0 !important;
        }
        .breadcrumb-item.active {
            font-size: $mob-p;
            padding-top: 5px;
        }
    }
    #content-section-wrapper {
        padding: 0 !important;
        .listing-wrapper {
            grid-template-columns: repeat(2, 1fr) !important;
            width: 100% !important;
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
    }
    .results-content #sidebarCollapse {
        display: block !important;
    }
    .pagination {
        flex-wrap: wrap;
        .page-item {
            margin-bottom: 10px;
        }
    }
    .keyword-wrapper {
        a {
            font-size: $mob-p !important;
            line-height: 28px !important;
        }
    }
    .related-search {
        padding-bottom: 0 !important;
    }
    .results-page {
        .container-fluid {
            padding: 0 15px !important;
        }
        .search-bar {
            width: 100% !important;
        }
    }
    .offers {
        .content-section {
            width: 93vw !important;
        }

        #content-section-wrapper {
            width: 93vw !important;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .mini-banner {
        padding-top: 174px !important;
        padding-bottom: 0 !important;
    }
    .results-content #sidebar {
        min-width: 250px !important;
    }
    #content-section-wrapper {
        width: 100% !important;
        .listing-wrapper {
            grid-template-columns: repeat(3, 1fr) !important;
            width: 100% !important;
        }
    }
    .results-content {
        padding-top: 0 !important;
        width: 100% !important;
    }
    .pagination {
        flex-wrap: wrap;
        .page-item {
            margin-bottom: 10px;
        }
    }
    .keyword-wrapper {
        a {
            font-size: $p !important;
        }
    }
    .results-content #sidebarCollapse {
        display: block !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .mini-banner {
        padding-top: 128px !important;
        padding-bottom: 0 !important;
    }
    .results-content #sidebar {
        min-width: 250px !important;
    }
    #content-section-wrapper {
        width: 100% !important;
        .listing-wrapper {
            grid-template-columns: repeat(3, 1fr) !important;
            width: 100% !important;
            .listing-card {
                padding: 15px !important;
            }
        }
    }
    .results-content {
        padding-top: 0 !important;
        width: 100% !important;
    }
    .pagination {
        flex-wrap: wrap;
        .page-item {
            margin-bottom: 10px;
        }
    }
    .keyword-wrapper {
        a {
            font-size: $p !important;
        }
    }
    .results-content {
        padding-bottom: 0 !important;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1345px) {
    #content-section-wrapper {
        width: 100% !important;
        .listing-wrapper {
            grid-template-columns: repeat(4, 1fr) !important;
            width: 100% !important;
            .listing-card {
                padding: 15px !important;
            }
        }
    }
}
@media screen and (min-width: 1346px) and (max-width: 1800px) {
    #content-section-wrapper {
        width: 100% !important;
        .listing-wrapper {
            grid-template-columns: repeat(5, 1fr) !important;
            width: 100% !important;
            .listing-card {
                padding: 15px !important;
                .image-wrapper {
                    height: 180px !important;
                }
            }
        }
    }
}
