.modal-dialog {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content {
  border-radius: 20px;
  border: none;
  text-align: center;
  padding: 50px;
}

.modal-content .modal-body {
  padding: 0;
}

.modal-content .common-h2 {
  font-size: 25px !important;
  text-align: center;
  margin-bottom: 30px;
}

.modal-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.modal-content .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content .icon-wrapper img {
  width: 100px;
}

.modal-content .success-heading {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #33aa55;
  margin: 25px 0 10px 0;
}

.modal-content .error-heading {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #c20000;
  margin: 25px 0 10px 0;
}

.modal-content p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #666;
}

.modal-content .full-wdth-btn .btn {
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
}

.modal-content .full-wdth-btn .btn:first-child {
  margin-bottom: 10px;
}

.inner-nb .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.inner-nb .search-bar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-nb .search-bar .content .form-control {
  border-radius: 0;
}

.inner-nb .search-bar .content .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  border-right-color: transparent;
}

.inner-nb .search-bar .select2 {
  margin: 0 !important;
  width: 250px !important;
}

.inner-nb .search-bar .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;
}

.results-content {
  padding-top: 161px;
  padding-bottom: 0;
}

.results-content .breadcrumb-wrapper {
  padding: 20px;
  background-color: rgba(5, 151, 98, 0.2);
  border-radius: 10px;
  margin: 30px 0;
}

.results-content .breadcrumb-wrapper .breadcrumb {
  margin: 0;
}

.results-content .breadcrumb-wrapper .breadcrumb a,
.results-content .breadcrumb-wrapper .breadcrumb li {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #111;
}

.results-content .breadcrumb-wrapper .breadcrumb a:hover, .results-content .breadcrumb-wrapper .breadcrumb a:active, .results-content .breadcrumb-wrapper .breadcrumb a:focus {
  text-decoration: none;
  color: #059762;
}

.listing-card {
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.listing-card .txt-section {
  padding-top: 20px;
}

.listing-card .txt-section h5 {
  width: 80%;
}

.listing-card .txt-section .right-align {
  width: 20%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.listing-card .txt-section .right-align i {
  color: #ddd;
  font-size: 23px;
}

.listing-card .txt-section .btn-warpper {
  width: 60%;
}

.listing-card .txt-section .bottom-section {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.listing-card .overall-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}

.listing-card .overall-rating p {
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #111;
}

.listing-card .overall-rating i {
  color: #059762;
}

.listing-card p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 20px 0;
}

.listing-card h5 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  color: #111;
}

.listing-card .image-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.listing-card .image-wrapper img {
  width: 100%;
}

.pagination-wrapper {
  margin: 30px 0 0 0;
}

.related-search {
  padding-bottom: 50px;
}

.related-search h3 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
  color: #111;
  margin: 30px 0 20px 0;
}

.related-search h3 span {
  color: #059762;
  font-weight: 600;
}

.results-content {
  /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
  /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
  /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
}

.results-content .navbar {
  padding: 15px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin: 30px 0 20px 0;
  background-color: rgba(5, 151, 98, 0.2);
  border-radius: 10px;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.results-content .navbar .breadcrumb {
  margin: 0 0 0 15px;
}

.results-content .navbar .breadcrumb a {
  color: #111;
}

.results-content .navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
  display: none;
}

.results-content .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.results-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.results-content #sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #fff;
  color: #111;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.results-content #sidebar.active {
  margin-left: -300px;
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
}

.results-content #sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.results-content #sidebar ul li.active > a,
.results-content a[aria-expanded="true"] {
  color: #111;
}

.results-content a[data-toggle="collapse"] {
  position: relative;
}

.results-content a[aria-expanded="false"]::before,
.results-content a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}

.results-content a[aria-expanded="true"]::before {
  content: "\e260";
}

.results-content .sidebar-header h3 {
  margin-left: 20px;
}

.results-content #content {
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.results-content #sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
}

.results-content #sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  -webkit-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.results-content #sidebarCollapse span:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

.results-content #sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

.results-content #sidebarCollapse span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

.results-content #sidebarCollapse.active span {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .results-content #sidebar {
    margin-left: -250px;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  .results-content #sidebar.active {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .results-content #sidebarCollapse span:first-of-type,
  .results-content #sidebarCollapse span:nth-of-type(2),
  .results-content #sidebarCollapse span:last-of-type {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  .results-content #sidebarCollapse.active span {
    margin: 0 auto;
  }
  .results-content #sidebarCollapse.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }
  .results-content #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  .results-content #sidebarCollapse.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
}

.results-content .accordion-button {
  padding: 15px 20px;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #111;
}

.results-content .accordion-button:hover, .results-content .accordion-button:active, .results-content .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.results-content .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #111;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.results-content .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.results-content .accordion-button::after {
  background-size: 1rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.results-content .accordion-body .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.results-content .accordion-body .search-bar .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
}

.results-content .accordion-body .search-bar .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 15px;
  height: 40px;
}

.results-content .accordion-body .clearfix {
  clear: both;
}

.results-content .accordion-body .clearfix .form-check {
  float: left;
}

.results-content .accordion-body .clearfix .count {
  float: right;
}

.results-content .accordion-body label,
.results-content .accordion-body p,
.results-content .accordion-body a {
  color: rgba(0, 0, 0, 0.5);
}

.results-content .accordion-body .form-check {
  margin-bottom: 1rem;
}

.results-content #content-section-wrapper {
  padding: 0px 30px;
}

.results-content .accordion-item {
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 40px;
}
/*# sourceMappingURL=innerpages.css.map */