.inner-nb .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.inner-nb .search-bar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-nb .search-bar .content .form-control {
  border-radius: 0;
}

.inner-nb .search-bar .content .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  border-right-color: transparent;
}

.inner-nb .search-bar .select2 {
  margin: 0 !important;
  width: 250px !important;
}

.inner-nb .search-bar .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;
}

.results-content {
  padding-top: 0;
  padding-bottom: 0;
}

.results-content .sidebar-header {
  margin-top: -30px;
}

.results-content .breadcrumb-wrapper {
  padding: 20px;
  background-color: rgba(5, 151, 98, 0.2);
  border-radius: 10px;
  margin: 30px 0;
}

.results-content .breadcrumb-wrapper .breadcrumb {
  margin: 0;
}

.results-content .breadcrumb-wrapper .breadcrumb a,
.results-content .breadcrumb-wrapper .breadcrumb li {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #111;
}

.results-content .breadcrumb-wrapper .breadcrumb a:hover, .results-content .breadcrumb-wrapper .breadcrumb a:active, .results-content .breadcrumb-wrapper .breadcrumb a:focus {
  text-decoration: none;
  color: #059762;
}

.listing-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.listing-card {
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.listing-card:hover {
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.listing-card:hover .content {
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.listing-card:hover .content .image-wrapper {
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.listing-card:hover .content .image-wrapper img {
  width: 110%;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.listing-card .txt-section {
  padding-top: 20px;
}

.listing-card .txt-section h5 {
  width: 80%;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 5px;
  height: 60px;
  overflow: hidden;
}

.listing-card .txt-section p {
  margin: 10px 0;
}

.listing-card .txt-section .right-align {
  width: 20%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.listing-card .txt-section .right-align i {
  color: #ddd;
  font-size: 23px;
}

.listing-card .txt-section .btn-warpper {
  width: 60%;
}

.listing-card .txt-section .bottom-section {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.listing-card .overall-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}

.listing-card .overall-rating p {
  margin: 0 0 0 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #111;
}

.listing-card .overall-rating i {
  color: #059762;
}

.listing-card p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 20px 0;
}

.listing-card h5 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
  color: #111;
}

.listing-card .image-wrapper {
  border-radius: 10px;
  overflow: hidden;
  height: 288px;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.listing-card .image-wrapper img {
  width: 100%;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.listing-card .btn-save {
  padding: 0;
}

.listing-card .btn-save:hover i, .listing-card .btn-save:active i, .listing-card .btn-save:focus i {
  color: #059762;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.pagination-wrapper {
  margin: 30px 0 0 0;
}

.related-search {
  padding-bottom: 50px;
}

.related-search h3 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
  color: #111;
  margin: 30px 0 20px 0;
}

.related-search h3 span {
  color: #059762;
  font-weight: 600;
}

.mini-banner {
  padding: 128px 0 0 0;
}

.mini-banner .img-thumbnail {
  width: 33.333%;
}

.mini-banner .span4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-content {
  /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
  /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
  /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
}

.results-content .navbar {
  padding: 15px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin: 10px 0 20px 0;
  background-color: rgba(5, 151, 98, 0.2);
  border-radius: 10px;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.results-content .navbar .breadcrumb {
  margin: 0 0 0 15px;
}

.results-content .navbar .breadcrumb a {
  color: #111;
}

.results-content .navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
  display: none;
}

.results-content .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.results-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.results-content #sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #fff;
  color: #111;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.results-content #sidebar.active {
  margin-left: -300px;
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
}

.results-content #sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.results-content #sidebar ul li.active > a,
.results-content a[aria-expanded="true"] {
  color: #111;
}

.results-content a[data-toggle="collapse"] {
  position: relative;
}

.results-content a[aria-expanded="false"]::before,
.results-content a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}

.results-content a[aria-expanded="true"]::before {
  content: "\e260";
}

.results-content .sidebar-header h3 {
  margin-left: 20px;
}

.results-content #content {
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.results-content #sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
}

.results-content #sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  -webkit-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.results-content #sidebarCollapse span:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

.results-content #sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

.results-content #sidebarCollapse span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

.results-content #sidebarCollapse.active span {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .results-content #sidebar {
    margin-left: -250px;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  .results-content #sidebar.active {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .results-content #sidebarCollapse span:first-of-type,
  .results-content #sidebarCollapse span:nth-of-type(2),
  .results-content #sidebarCollapse span:last-of-type {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  .results-content #sidebarCollapse.active span {
    margin: 0 auto;
  }
  .results-content #sidebarCollapse.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }
  .results-content #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  .results-content #sidebarCollapse.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
}

.results-content .accordion-button {
  padding: 15px 20px;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #111;
}

.results-content .accordion-button:hover, .results-content .accordion-button:active, .results-content .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.results-content .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #111;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.results-content .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.results-content .accordion-button::after {
  background-size: 1rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.results-content .accordion-body .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.results-content .accordion-body .search-bar .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
}

.results-content .accordion-body .search-bar .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 15px;
  height: 40px;
}

.results-content .accordion-body .clearfix {
  clear: both;
}

.results-content .accordion-body .clearfix .form-check {
  float: left;
  margin-bottom: 15px;
}

.results-content .accordion-body .clearfix .count {
  float: right;
}

.results-content .accordion-body .clearfix .count p {
  margin-bottom: 0;
}

.results-content .accordion-body label,
.results-content .accordion-body p,
.results-content .accordion-body a {
  color: rgba(0, 0, 0, 0.5);
}

.results-content .accordion-body .form-check {
  margin-bottom: 1rem;
}

.results-content #content-section-wrapper {
  padding: 0px 30px;
}

.results-content .accordion-item {
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 40px;
}

.profile {
  padding-top: 128px;
  padding-bottom: 0;
}

.profile .cover-bg {
  height: 300px;
  overflow: hidden;
}

.profile .cover-bg img {
  width: 100%;
}

.profile .profile-pic {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  margin-bottom: 50px;
}

.profile .profile-pic img {
  width: 100%;
}

.profile .quick-action-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 0 50px 0;
}

.profile .quick-action-wrapper a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #059762;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  color: #fff;
}

.profile .quick-action-wrapper a:last-child {
  margin-right: 0;
}

.profile .quick-action-wrapper a:hover, .profile .quick-action-wrapper a:active, .profile .quick-action-wrapper a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background-color: #8fd03d;
  border-color: #8fd03d;
  text-decoration: none;
}

.profile .social-media .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 10px 0;
}

.profile .social-media .social-links .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #33aa55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  color: #fff;
}

.profile .social-media .social-links .icon:last-child {
  margin-right: 0;
}

.profile .social-media .social-links .icon:hover, .profile .social-media .social-links .icon:active, .profile .social-media .social-links .icon:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background-color: #8fd03d;
  border-color: #8fd03d;
  text-decoration: none;
}

.profile .general-info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.profile .general-info .title h2 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  color: #111;
  margin-bottom: 0px;
}

.profile .general-info .title i,
.profile .general-info .title img {
  margin-left: 10px;
  color: #059762;
}

.profile .general-info p {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #999;
  margin-bottom: 15px;
}

.profile .general-info .overall-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .general-info .overall-rating i {
  font-size: 16px;
  margin-right: 10px;
  color: #059762;
}

.profile .general-info .overall-rating h6 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: #999;
  margin: 0;
}

.profile .general-info .overall-rating h6 span {
  font-weight: 400;
}

.profile .highlighted-content {
  padding: 30px;
  background-color: rgba(5, 151, 98, 0.1);
  border-radius: 15px;
  height: 100%;
}

.profile .highlighted-content .timing p:last-child {
  margin-bottom: 0;
}

.profile .highlighted-content .align-right p {
  text-align: right;
}

.profile .highlighted-content p {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #999;
}

.profile .highlighted-content .inner-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.profile .highlighted-content .inner-link:last-child {
  margin-bottom: 0;
}

.profile .highlighted-content .inner-link a {
  display: block;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #999;
}

.profile .highlighted-content .inner-link a:hover, .profile .highlighted-content .inner-link a:active, .profile .highlighted-content .inner-link a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #059762;
}

.profile .highlighted-content .inner-link i {
  color: #059762;
  font-size: 15px;
}

.profile .highlighted-content .inner-link .icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 10%;
}

.profile .highlighted-content .inner-link .text-section {
  width: 90%;
}

.profile .highlighted-content .inner-link .text-section a {
  text-align: right;
}

.profile .highlighted-content .inner-link .text-section p {
  text-align: right;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #999;
}

.profile .highlighted-content .location-icn {
  margin-top: 5px;
}

.about-card {
  margin-top: 50px;
}

.card-default {
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}

.card-default h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #059762;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card-default h3.center {
  text-align: center;
}

.card-default h3.align-right {
  text-align: right;
}

.card-default p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
}

.card-default p:last-child {
  margin-bottom: 0;
}

.card-default ul {
  list-style-image: url("../../images/svg/card-list-style-image.svg");
  padding-left: 30px;
  margin-bottom: 0;
}

.card-default ul li p {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #999;
  margin-left: 10px;
}

.card-default .view-more-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #059762;
}

.card-default .view-more-link:hover, .card-default .view-more-link:active, .card-default .view-more-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.card-default .card-body {
  padding: 0;
  border: none;
}

.card-default .card-body p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
}

.eq-height .card-default {
  height: 100%;
}

.rate-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.rate-me .stars i {
  font-size: 20px;
  color: #059762;
  margin-right: 10px;
}

.rate-me h6 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
}

.rate-me:hover, .rate-me:active, .rate-me:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.review-rating {
  padding-top: 30px;
}

.review-rating .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-rating .filters .radio-button {
  margin-right: 20px;
}

.review-rating .filters .radio-button:last-child {
  margin-right: 20px;
}

.review-rating .current-overall-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 20px 0;
}

.review-rating .current-overall-rating i {
  font-size: 45px;
  color: #059762;
  margin-right: 10px;
}

.review-rating .current-overall-rating h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #666;
  margin-left: 10px;
  margin-top: 10px;
}

.review-rating .rating-text-wrpper p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #999;
}

.review-rating .rating-form h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #111;
  margin: 30px 0 20px 0;
}

.rating-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.rating-progress .rt-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.rating-progress .star-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-progress .star-type i {
  font-size: 10px;
  color: #999;
  margin-left: 5px;
}

.rating-progress .star-type p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #999;
  margin-bottom: 0px;
}

.rating-progress .progress {
  border-radius: 10px;
  height: 4px;
  width: 100%;
  margin: 0 10px;
}

.rating-progress .progress .progress-bar {
  background-color: #059762;
  height: 100%;
}

.rating-progress .star-count p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #999;
  margin-bottom: 0px;
}

.star-rating span {
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
  color: #059762;
}

.feedback-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feedback-card .dp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(5, 151, 98, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.feedback-card .dp img {
  width: 100%;
}

.feedback-card .dp p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
  margin: 0;
}

.feedback-card .main-content {
  width: 80%;
  margin-left: 20px;
}

.feedback-card .main-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
  margin-bottom: 0px;
}

.feedback-card .main-content .auther-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.feedback-card .main-content .auther-info p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #999;
  margin-left: 10px;
}

.feedback-card .main-content .auther-info h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #111;
  margin: 0;
}

.feedback-card .right-portion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-card .right-portion .flex-container i {
  color: #059762;
  margin-right: 10px;
}

.feedback-card .right-portion .flex-container h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
}

.feedback-card .right-portion .likes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.feedback-card .right-portion .likes-wrapper .like, .feedback-card .right-portion .likes-wrapper .dislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.feedback-card .right-portion .likes-wrapper .like i, .feedback-card .right-portion .likes-wrapper .dislike i {
  font-size: 12px;
  color: #999;
}

.feedback-card .right-portion .likes-wrapper .like p, .feedback-card .right-portion .likes-wrapper .dislike p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #999;
  margin-left: 10px;
  margin-bottom: 0;
}

.feedback-card .right-portion .likes-wrapper .like:hover, .feedback-card .right-portion .likes-wrapper .dislike:hover, .feedback-card .right-portion .likes-wrapper .like:active, .feedback-card .right-portion .likes-wrapper .dislike:active, .feedback-card .right-portion .likes-wrapper .like:focus, .feedback-card .right-portion .likes-wrapper .dislike:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
}

.feedback-card .right-portion .likes-wrapper .like:hover i, .feedback-card .right-portion .likes-wrapper .dislike:hover i,
.feedback-card .right-portion .likes-wrapper .like:hover p,
.feedback-card .right-portion .likes-wrapper .dislike:hover p, .feedback-card .right-portion .likes-wrapper .like:active i, .feedback-card .right-portion .likes-wrapper .dislike:active i,
.feedback-card .right-portion .likes-wrapper .like:active p,
.feedback-card .right-portion .likes-wrapper .dislike:active p, .feedback-card .right-portion .likes-wrapper .like:focus i, .feedback-card .right-portion .likes-wrapper .dislike:focus i,
.feedback-card .right-portion .likes-wrapper .like:focus p,
.feedback-card .right-portion .likes-wrapper .dislike:focus p {
  color: #059762;
}

.feedback-card .right-portion .likes-wrapper .dislike {
  margin-right: 0;
}

.questions {
  padding-top: 50px;
}

.similar-result {
  margin-top: 50px;
  padding: 50px 0;
  background-color: rgba(143, 208, 61, 0.05);
}

.answer-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 20px;
}

.answer-card p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
}

.answer-card h5 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
}

.collapse-container {
  margin-top: 30px;
}

.collapse-container .collapse {
  width: 100%;
}

.collapse-container .collapse:not(.show) {
  -webkit-transition: none;
  transition: none;
  -webkit-animation-delay: none;
          animation-delay: none;
  -webkit-transition-delay: none;
          transition-delay: none;
}

.collapse-container .btn {
  margin: auto;
  text-align: center;
}

.collapse-container .card-body {
  margin-bottom: 30px;
}

#allReviews .modal-dialog {
  max-width: 1000px;
}

#allReviews .modal-content {
  max-height: 600px;
  padding: 30px 30px 0 30px;
}

#allReviews .content {
  overflow-y: auto;
  padding: 0 20px 0 0;
}

#allReviews .modal-footer {
  padding: 0;
}

#allReviews .pagination-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#allQuestions .modal-dialog {
  max-width: 1000px;
}

#allQuestions .modal-content {
  max-height: 600px;
  padding: 30px 30px 0 30px;
}

#allQuestions .content {
  overflow-y: auto;
  padding: 0 20px 0 0;
}

#allQuestions .modal-footer {
  padding: 0;
}

#allQuestions .pagination-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.general-banner {
  width: 100vw;
  height: 35vh;
  margin-top: 128px;
  padding-top: 50px;
  background-image: url("../../images/general-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.general-banner .overlay {
  background-color: rgba(5, 151, 98, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.general-banner .content {
  position: relative;
  z-index: 1;
}

.general-banner .breadcrumb-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-banner .breadcrumb-wrapper p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

.general-banner .breadcrumb-wrapper a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
}

.general-banner .breadcrumb-wrapper a:hover, .general-banner .breadcrumb-wrapper a:active, .general-banner .breadcrumb-wrapper a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.general-banner .breadcrumb-wrapper .breadcrumb-item.active {
  color: #fff;
}

.general-banner .breadcrumb-wrapper .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.general-banner .breadcrumb-wrapper .breadcrumb {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-banner .content h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
  margin: 50px 0;
}

.life {
  background-color: rgba(5, 151, 98, 0.05);
}

.life .life-image-wrapper {
  padding: 20px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 20px;
}

.life .life-image-wrapper img {
  width: 100%;
}

.life .life-content {
  padding: 0 0 0 50px;
}

.life .life-content h2 {
  margin-bottom: 50px;
}

.life .life-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
}

.common-section p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
}

.common-section h2 {
  margin-bottom: 50px;
}

.about .content {
  padding-right: 50px;
}

.about .image-wrapper {
  margin-top: 100px;
}

.about .image-wrapper img {
  width: 100%;
}

.drop-cv {
  background-color: rgba(51, 170, 85, 0.9);
  padding: 50px 0;
}

.drop-cv .image-wrapper img {
  width: 100%;
}

.drop-cv .v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.drop-cv h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  width: 100%;
}

.drop-cv h2 span {
  color: #111;
  font-weight: 700;
}

.drop-cv .btn-dropcv {
  padding: 10px 30px;
  background-color: #8fd03d;
  border: 1px solid #8fd03d;
  color: #fff;
  margin-top: 20px;
}

.drop-cv .btn-dropcv:hover, .drop-cv .btn-dropcv:active, .drop-cv .btn-dropcv:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  background-color: #059762;
  border: 1px solid #059762;
}

.drop-cv-modal {
  max-width: 800px;
  overflow: hidden;
}

.drop-cv-modal .modal-body {
  text-align: left;
}

.drop-cv-modal .modal-body .common-h2 {
  font-size: 40px !important;
}

.modal {
  overflow: hidden;
}

.general-banner.align-v-center {
  padding: 100px 0;
}

.bg-business {
  background-image: url("../../images/bg-business.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-align-center {
  text-align: center;
}

.add-new-wrapper .accordion-body {
  padding: 60px 40px;
}

.add-new-wrapper .helper-text {
  margin: 30px 0;
}

.terms ul {
  list-style-image: url("../../images/svg/check_list-image.svg");
  padding-left: 30px;
  margin-bottom: 0;
}

.terms ul li p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #999;
  margin-left: 10px;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
}

.common-h2 {
  margin-bottom: 50px;
}

.video-wrapper {
  margin: 50px 0;
}

.video-wrapper .video-card {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.video-wrapper .video-card .content {
  border-radius: 10px;
  overflow: hidden;
}

.video-wrapper .video-card .content iframe {
  border-radius: 10px;
}

.video-wrapper .video-card .info {
  padding-top: 15px;
}

.video-wrapper .video-card .info .common-h4 span {
  color: #059762;
  font-weight: 600;
}

.card-general {
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.card-general p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #999;
  margin-bottom: 20px;
}

.card-general .group {
  margin-bottom: 20px;
}

.card-general .group:last-child {
  margin-bottom: 0;
}

.card-general .group h6 {
  color: #111;
  margin-bottom: 5px;
}

.card-general .group a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #059762;
}

.card-general .group a:hover, .card-general .group a:active, .card-general .group a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.spl-pad {
  margin: 0 0 0 50px;
}

.pos-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #059762;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #059762;
  border-color: #059762;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #059762;
}

.card-body {
  padding: 0;
  border: none;
  background-color: transparent;
}

.collapse.show {
  margin-bottom: 10px;
}

.progress-bar {
  height: 10px;
  border-radius: 10px;
}

.progress {
  margin-bottom: 10px;
  height: 10px;
}

.progress:last-child {
  margin-bottom: 0px;
}

.nav-tabs {
  border: none !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent !important;
}

.nav-tabs .nav-link:hover::after {
  display: none;
}

.nav-tabs .nav-link {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #059762;
}

.tab-content {
  border-top-left-radius: 0 !important;
  border-radius: 10px;
  margin-top: -1px;
}

.location-wrapper {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}

.location-wrapper iframe {
  border-radius: 10px;
}

.keyword-wrapper .search-bar .btn-search {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;
}

.keyword-wrapper .search-bar span {
  margin-left: 10px;
}

.keyword-wrapper .keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyword-wrapper .keywords .keyword {
  margin-bottom: 10px;
  margin-right: 10px;
}
/*# sourceMappingURL=innerpages.css.map */