.inner-nb .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.inner-nb .search-bar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-nb .search-bar .content .form-control {
  border-radius: 0;
}

.inner-nb .search-bar .content .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  border-right-color: transparent;
}

.inner-nb .search-bar .select2 {
  margin: 0 !important;
  width: 250px !important;
}

.inner-nb .search-bar .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;
}

.offer-banner {
  padding-top: 128px !important;
  padding-bottom: 0 !important;
}

.results-content {
  padding-top: 0;
  padding-bottom: 0;
}

.results-content .sidebar-header {
  margin-top: -40px;
}

.results-content .breadcrumb-wrapper {
  padding: 20px;
  background-color: rgba(5, 151, 98, 0.2);
  border-radius: 10px;
  margin: 30px 0;
}

.results-content .breadcrumb-wrapper .breadcrumb {
  margin: 0;
}

.results-content .breadcrumb-wrapper .breadcrumb a,
.results-content .breadcrumb-wrapper .breadcrumb li {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #111;
}

.results-content .breadcrumb-wrapper .breadcrumb a:hover, .results-content .breadcrumb-wrapper .breadcrumb a:active, .results-content .breadcrumb-wrapper .breadcrumb a:focus {
  text-decoration: none;
  color: #059762;
}

.listing-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.pagination-wrapper {
  margin: 30px 0 0 0;
}

.related-search {
  padding-bottom: 50px;
}

.related-search h3 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 600;
  color: #111;
  margin: 30px 0 20px 0;
}

.related-search h3 span {
  color: #059762;
  font-weight: 600;
}

.related-search a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.related-search a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #059762;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.related-search a:hover:after {
  width: 100%;
  left: 0;
}

.related-search a:hover, .related-search a:active, .related-search a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
}

.mini-banner {
  padding: 128px 0 0 0;
}

.mini-banner .img-thumbnail {
  width: 33.333%;
}

.mini-banner .span4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-ad-content {
  margin: 30px 0;
}

.offer-ad-content .carousel-inner {
  max-height: 250px;
  overflow: hidden;
  border-radius: 20px;
}

@media screen and (max-width: 470px) {
  .offers #content-section-wrapper {
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {
  .offer-banner {
    padding-top: 80px !important;
    padding-bottom: 0 !important;
  }
  .mini-banner {
    padding-top: 138px !important;
    padding-bottom: 0 !important;
  }
  #applyNow .custom-h span {
    display: inline-block !important;
  }
  .results-content {
    padding-top: 0 !important;
    width: 100% !important;
  }
  .results-content .sidebar-header {
    margin-top: 0 !important;
  }
  .results-content .breadcrumb-item.active {
    font-size: calc(16px - 2px);
    padding-top: 5px;
  }
  #content-section-wrapper {
    padding: 0 !important;
  }
  #content-section-wrapper .listing-wrapper {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    width: 100% !important;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .results-content #sidebarCollapse {
    display: block !important;
  }
  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pagination .page-item {
    margin-bottom: 10px;
  }
  .keyword-wrapper a {
    font-size: calc(16px - 2px) !important;
    line-height: 28px !important;
  }
  .related-search {
    padding-bottom: 0 !important;
  }
  .results-page .container-fluid {
    padding: 0 15px !important;
  }
  .results-page .search-bar {
    width: 100% !important;
  }
  .offers .content-section {
    width: 93vw !important;
  }
  .offers #content-section-wrapper {
    width: 93vw !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .mini-banner {
    padding-top: 174px !important;
    padding-bottom: 0 !important;
  }
  .results-content #sidebar {
    min-width: 250px !important;
  }
  #content-section-wrapper {
    width: 100% !important;
  }
  #content-section-wrapper .listing-wrapper {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    width: 100% !important;
  }
  .results-content {
    padding-top: 0 !important;
    width: 100% !important;
  }
  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pagination .page-item {
    margin-bottom: 10px;
  }
  .keyword-wrapper a {
    font-size: 16px !important;
  }
  .results-content #sidebarCollapse {
    display: block !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mini-banner {
    padding-top: 128px !important;
    padding-bottom: 0 !important;
  }
  .results-content #sidebar {
    min-width: 250px !important;
  }
  #content-section-wrapper {
    width: 100% !important;
  }
  #content-section-wrapper .listing-wrapper {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    width: 100% !important;
  }
  #content-section-wrapper .listing-wrapper .listing-card {
    padding: 15px !important;
  }
  .results-content {
    padding-top: 0 !important;
    width: 100% !important;
  }
  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pagination .page-item {
    margin-bottom: 10px;
  }
  .keyword-wrapper a {
    font-size: 16px !important;
  }
  .results-content {
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1345px) {
  #content-section-wrapper {
    width: 100% !important;
  }
  #content-section-wrapper .listing-wrapper {
    -ms-grid-columns: (1fr)[4] !important;
        grid-template-columns: repeat(4, 1fr) !important;
    width: 100% !important;
  }
  #content-section-wrapper .listing-wrapper .listing-card {
    padding: 15px !important;
  }
}

@media screen and (min-width: 1346px) and (max-width: 1800px) {
  #content-section-wrapper {
    width: 100% !important;
  }
  #content-section-wrapper .listing-wrapper {
    -ms-grid-columns: (1fr)[5] !important;
        grid-template-columns: repeat(5, 1fr) !important;
    width: 100% !important;
  }
  #content-section-wrapper .listing-wrapper .listing-card {
    padding: 15px !important;
  }
  #content-section-wrapper .listing-wrapper .listing-card .image-wrapper {
    height: 180px !important;
  }
}

.results-content {
  /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
  /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
  /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
}

.results-content .navbar {
  padding: 15px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin: 10px 0 20px 0;
  background-color: rgba(5, 151, 98, 0.2);
  border-radius: 10px;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.results-content .navbar .breadcrumb {
  margin: 0 0 0 15px;
}

.results-content .navbar .breadcrumb a {
  color: #111;
}

.results-content .navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
  display: none;
}

.results-content .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.results-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.results-content #sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #fff;
  color: #111;
  -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.results-content #sidebar.active {
  margin-left: -300px;
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
}

.results-content #sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.results-content #sidebar ul li.active > a,
.results-content a[aria-expanded="true"] {
  color: #111;
}

.results-content a[data-toggle="collapse"] {
  position: relative;
}

.results-content a[aria-expanded="false"]::before,
.results-content a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}

.results-content a[aria-expanded="true"]::before {
  content: "\e260";
}

.results-content .sidebar-header h3 {
  margin-left: 20px;
}

.results-content #content {
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.results-content #sidebarCollapse {
  width: 40px;
  height: 40px;
  background: transparent;
}

.results-content #sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #059762;
  -webkit-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.results-content #sidebarCollapse span:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

.results-content #sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

.results-content #sidebarCollapse span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

.results-content #sidebarCollapse.active span {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .results-content #sidebar {
    min-width: 250px !important;
    max-width: 250px !important;
    margin-left: -250px;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  .results-content #sidebar.active {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .results-content #sidebarCollapse span:first-of-type,
  .results-content #sidebarCollapse span:nth-of-type(2),
  .results-content #sidebarCollapse span:last-of-type {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  .results-content #sidebarCollapse.active span {
    margin: 0 auto;
  }
  .results-content #sidebarCollapse.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }
  .results-content #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  .results-content #sidebarCollapse.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
}

.results-content .accordion-button {
  padding: 15px 20px;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #111;
}

.results-content .accordion-button:hover, .results-content .accordion-button:active, .results-content .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.results-content .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #111;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.results-content .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.results-content .accordion-button::after {
  background-size: 1rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23059762' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.results-content .accordion-body .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.results-content .accordion-body .search-bar .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
}

.results-content .accordion-body .search-bar .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 15px;
  height: 40px;
}

.results-content .accordion-body .clearfix {
  clear: both;
}

.results-content .accordion-body .clearfix .form-check {
  float: left;
  margin-bottom: 15px;
}

.results-content .accordion-body .clearfix .count {
  float: right;
}

.results-content .accordion-body .clearfix .count p {
  margin-bottom: 0;
}

.results-content .accordion-body label,
.results-content .accordion-body p,
.results-content .accordion-body a {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.7);
}

.results-content .accordion-body .form-check {
  margin-bottom: 1rem;
}

.results-content .accordion-body .form-check-label {
  opacity: 1 !important;
}

.results-content #content-section-wrapper {
  padding: 0px 10px;
}

.results-content .accordion-item {
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 40px;
}

.clearfix:last-child .form-check {
  margin-bottom: 0;
}

.collapse.show {
  margin: 0 !important;
}

.inner-nb .search-bar .select2-selection {
  max-width: 200px !important;
  min-width: 200px;
}

.inner-nb .search-bar .content {
  width: 100% !important;
}

.profile {
  padding-top: 128px;
  padding-bottom: 0;
}

.profile .cover-bg {
  height: 300px;
  overflow: hidden;
}

.profile .cover-bg img {
  width: 100%;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  margin-bottom: 30px;
}

.profile-pic img {
  width: 100%;
}

.quick-action-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 0 50px 0;
}

.quick-action-wrapper .quick-action-link {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px !important;
  border-radius: 50%;
  background-color: #059762;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  color: #fff;
}

.quick-action-wrapper .quick-action-link:last-child {
  margin-right: 0;
}

.quick-action-wrapper .quick-action-link:hover, .quick-action-wrapper .quick-action-link:active, .quick-action-wrapper .quick-action-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background-color: #8fd03d;
  border-color: #8fd03d;
  text-decoration: none;
}

.social-media .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 10px 0;
}

.social-media .social-links .icon {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  border-radius: 50%;
  background-color: #33aa55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  color: #fff;
}

.social-media .social-links .icon:last-child {
  margin-right: 0;
}

.social-media .social-links .icon:hover, .social-media .social-links .icon:active, .social-media .social-links .icon:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background-color: #8fd03d;
  border-color: #8fd03d;
  text-decoration: none;
}

.general-info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.general-info .title h2 {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 600;
  color: #111;
  margin-bottom: 0px;
}

.general-info .title h2 i {
  color: #059762;
  margin-left: 5px;
  font-size: 16px;
}

.general-info .title img {
  margin-left: 10px;
  color: #059762;
}

.general-info p {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #666;
  margin-bottom: 15px;
}

.general-info .overall-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-info .overall-rating i {
  font-size: 16px;
  margin-right: 10px;
  color: #059762;
}

.general-info .overall-rating h6 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: #666;
  margin: 0;
}

.general-info .overall-rating h6 span {
  font-weight: 400;
}

.highlighted-content {
  padding: 30px;
  background-color: rgba(5, 151, 98, 0.05);
  border-radius: 15px;
  height: 100%;
}

.highlighted-content .timing p:last-child {
  margin-bottom: 0;
}

.highlighted-content .align-right p {
  text-align: right;
}

.highlighted-content p {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #666;
}

.highlighted-content .inner-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.highlighted-content .inner-link:last-child {
  margin-bottom: 0;
}

.highlighted-content .inner-link a {
  display: block;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #666;
}

.highlighted-content .inner-link a:hover, .highlighted-content .inner-link a:active, .highlighted-content .inner-link a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #059762;
}

.highlighted-content .inner-link i {
  color: #059762;
  font-size: 15px;
}

.highlighted-content .inner-link .text-section a {
  text-align: right;
}

.highlighted-content .inner-link .text-section p {
  text-align: right;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  color: #666;
}

.highlighted-content .location-icn {
  margin-top: 5px;
}

.dotted-card {
  border: 3px dashed #ddd;
  border-radius: 20px;
  overflow: hidden;
}

.change-pic {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 11;
  background: rgba(5, 151, 98, 0.5);
}

.card-default {
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.card-default h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #059762;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card-default h3.center {
  text-align: center;
}

.card-default h3.align-right {
  text-align: right;
}

.card-default p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
}

.card-default p:last-child {
  margin-bottom: 0;
}

.card-default .view-more-link {
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  color: #059762;
}

.card-default .view-more-link:hover, .card-default .view-more-link:active, .card-default .view-more-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.card-default .card-body {
  padding: 0;
  border: none;
}

.card-default .card-body p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
}

.eq-height .card-default {
  height: 100%;
}

.rate-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.rate-me .stars i {
  font-size: 20px;
  color: #059762;
  margin-right: 10px;
}

.rate-me h6 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
}

.rate-me:hover, .rate-me:active, .rate-me:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.review-rating {
  padding-top: 30px;
}

.review-rating .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.review-rating .filters .radio-button {
  margin: 0 !important;
}

.review-rating .current-overall-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 20px 0;
}

.review-rating .current-overall-rating i {
  font-size: 45px;
  color: #059762;
  margin-right: 10px;
}

.review-rating .current-overall-rating h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #666;
  margin-left: 10px;
  margin-top: 10px;
}

.review-rating .rating-text-wrpper p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #666;
}

.review-rating .rating-form h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #111;
  margin: 30px 0 20px 0;
}

.rating-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.rating-progress .rt-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.rating-progress .star-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-progress .star-type i {
  font-size: 10px;
  color: #666;
  margin-left: 5px;
}

.rating-progress .star-type p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #666;
  margin-bottom: 0px;
}

.rating-progress .progress {
  border-radius: 10px;
  height: 4px;
  width: 100%;
  margin: 0 10px;
}

.rating-progress .progress .progress-bar {
  background-color: #059762;
  height: 100%;
}

.rating-progress .star-count p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #666;
  margin-bottom: 0px;
}

.star-rating span {
  cursor: pointer;
  font-size: 30px;
  margin-right: 15px;
  color: #059762;
}

.feedbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.feedback-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1rem;
}

.feedback-card .dp {
  width: 60px !important;
  height: 60px !important;
  min-width: 60px !important;
  border-radius: 50%;
  background-color: rgba(5, 151, 98, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  min-height: 60px;
  overflow: hidden;
}

.feedback-card .dp img {
  width: 100%;
}

.feedback-card .dp p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
  margin: 0;
}

.feedback-card .main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.feedback-card .main-content p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
  margin-bottom: 0px;
}

.feedback-card .main-content .auther-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-card .main-content .auther-info p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #666;
  margin-left: 10px;
}

.feedback-card .main-content .auther-info h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.feedback-card .right-portion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-card .right-portion .flex-container i {
  color: #059762;
  margin-right: 10px;
}

.feedback-card .right-portion .flex-container h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
}

.feedback-card h3 {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #059762;
  text-transform: uppercase;
}

.feedback-card .reply-btn {
  text-align: left !important;
}

.attached-media {
  width: 80px !important;
  height: 80px !important;
  min-width: 80px !important;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.likes-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.likes-wrapper .like, .likes-wrapper .dislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.likes-wrapper .like i, .likes-wrapper .dislike i {
  font-size: 12px;
  color: #666;
}

.likes-wrapper .like p, .likes-wrapper .dislike p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #666;
  margin-left: 10px;
  margin-bottom: 0;
}

.likes-wrapper .like:hover, .likes-wrapper .dislike:hover, .likes-wrapper .like:active, .likes-wrapper .dislike:active, .likes-wrapper .like:focus, .likes-wrapper .dislike:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
}

.likes-wrapper .like:hover i, .likes-wrapper .dislike:hover i,
.likes-wrapper .like:hover p,
.likes-wrapper .dislike:hover p, .likes-wrapper .like:active i, .likes-wrapper .dislike:active i,
.likes-wrapper .like:active p,
.likes-wrapper .dislike:active p, .likes-wrapper .like:focus i, .likes-wrapper .dislike:focus i,
.likes-wrapper .like:focus p,
.likes-wrapper .dislike:focus p {
  color: #059762;
}

.likes-wrapper .dislike {
  margin-right: 0;
}

.review-rating .common-a,
.questions .common-a {
  line-height: 30px !important;
}

.review-rating .common-a:hover, .review-rating .common-a:active, .review-rating .common-a:focus,
.questions .common-a:hover,
.questions .common-a:active,
.questions .common-a:focus {
  color: #059762 !important;
}

.questions {
  padding-top: 50px;
}

.similar-result {
  margin-top: 50px;
  padding: 50px 0;
  background-color: rgba(143, 208, 61, 0.05);
}

.answer-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 20px;
}

.answer-card p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #666;
}

.answer-card h5 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
}

.answer-card h6 {
  color: #666 !important;
}

.answer-card .auther-info {
  clear: both;
  overflow: hidden;
}

.answer-card .auther-info h6 {
  float: left;
  font-size: 16px;
  color: #000 !important;
  font-weight: 400;
}

.answer-card .auther-info .reply-qn {
  float: right;
}

.collapse-container .collapse {
  width: 100%;
}

.collapse-container .collapse:not(.show) {
  -webkit-transition: none;
  transition: none;
  -webkit-animation-delay: none;
          animation-delay: none;
  -webkit-transition-delay: none;
          transition-delay: none;
}

.collapse-container .btn {
  margin: auto;
  text-align: center;
}

.collapse-container .card-body {
  margin-bottom: 30px;
}

#allReviews .modal-dialog {
  max-width: 1000px;
}

#allReviews .content {
  overflow-y: auto;
  padding: 0 20px 0 0;
  margin-right: -30px;
}

#allReviews .modal-footer {
  padding: 0;
}

#allReviews .pagination-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#allReviews p {
  text-align: left !important;
}

#allQuestions .modal-dialog {
  max-width: 1000px;
}

#allQuestions .content {
  overflow-y: auto;
  padding: 0 20px 0 0;
  margin-right: -30px;
}

#allQuestions .modal-footer {
  padding: 0;
}

#allQuestions .pagination-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#allQuestions p,
#allQuestions h5 {
  text-align: left !important;
}

.offer-slider {
  max-height: 420px;
  margin-top: 50px;
}

.offer-slider .img {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.offer-modal {
  max-width: 800px;
}

.offer-modal img {
  width: 100%;
}

.offer-modal .offer-description {
  padding-top: 30px;
  text-align: left;
}

.reply-qn {
  color: #059762;
  font-weight: 600;
}

.reply-qn:hover, .reply-qn:active, .reply-qn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #059762;
}

#galleryViewMore .modal-dialog {
  min-width: 93%;
}

#galleryViewMore .pagination-wrapper {
  margin-top: 0 !important;
}

#galleryViewMore #lightgallery1 {
  margin-bottom: 0 !important;
}

#lightgallery {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 575px) {
  .offer-slider {
    height: 200px !important;
    margin-bottom: 30px;
  }
  .offer-slider .imgs {
    height: 200px !important;
  }
  .offer-slider .imgs img {
    background-size: cover !important;
  }
  .slider-content .slider .img {
    background-size: cover !important;
  }
}

@media screen and (max-width: 767px) {
  .inner-nb {
    padding-bottom: 10px !important;
  }
  .inner-nb .search-bar .select2-selection {
    max-width: 150px !important;
    min-width: 150px;
  }
  .inner-nb .search-bar .content {
    width: 100% !important;
  }
  .search-bar .btn {
    height: 100%;
  }
  .profile .cover-bg {
    height: 150px !important;
  }
  .profile .profile-pic {
    width: 150px !important;
    height: 150px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px !important;
  }
  .profile .general-info {
    text-align: center;
  }
  .profile .overall-rating {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .profile .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .profile .rate-me {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile .quick-action-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile .timing {
    margin-bottom: 15px;
    height: auto !important;
  }
  .card-default {
    padding: 20px !important;
    height: auto !important;
  }
  .input-group input,
  .input-group .btn {
    height: 50px !important;
  }
  .filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem !important;
  }
  .filters .btn {
    width: 100%;
  }
  .filters .radio-button {
    width: 47%;
  }
  .current-overall-rating {
    margin: 20px 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rating-text-wrpper {
    text-align: center;
  }
  .rating-progress {
    margin: 30px 0 !important;
  }
  .rating-form h4 {
    margin-top: 0 !important;
  }
  .feedbacks .feedback-card,
  #allReviews .feedback-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feedbacks .feedback-card .main-content,
  #allReviews .feedback-card .main-content {
    width: 100% !important;
  }
  .feedbacks .feedback-card .right-portion,
  #allReviews .feedback-card .right-portion {
    width: 100% !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedbacks .feedback-card .right-portion .likes-wrapper,
  .feedbacks .feedback-card .right-portion .flex-container,
  #allReviews .feedback-card .right-portion .likes-wrapper,
  #allReviews .feedback-card .right-portion .flex-container {
    width: 50% !important;
  }
  .feedbacks .feedback-card .right-portion .flex-container h3,
  #allReviews .feedback-card .right-portion .flex-container h3 {
    margin-bottom: 0 !important;
  }
  .feedbacks .feedback-card .dp,
  #allReviews .feedback-card .dp {
    margin: auto;
  }
  .feedbacks .feedback-card .auther-info,
  #allReviews .feedback-card .auther-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
  .feedbacks .feedback-card .auther-info .separating-p,
  #allReviews .feedback-card .auther-info .separating-p {
    display: none;
  }
  .feedbacks .feedback-card .auther-info *,
  #allReviews .feedback-card .auther-info * {
    width: 100%;
    margin: 0 !important;
  }
  .feedbacks .content,
  #allReviews .content {
    margin-right: -20px !important;
  }
  .similar-result {
    margin-top: 0 !important;
  }
  .offer-slider {
    margin-top: 0px !important;
  }
  #allQuestions .content {
    margin-right: -20px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .offer-slider {
    margin-bottom: 30px;
  }
  .offer-slider .imgs {
    height: 400px !important;
  }
  .offer-slider .imgs img {
    background-size: cover !important;
  }
  .slider-content .slider .img {
    background-size: cover !important;
  }
  .slider-content {
    margin-top: 0 !important;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .inner-nb {
    padding-bottom: 10px !important;
  }
  .search-bar {
    width: 100% !important;
  }
  .search-bar .btn {
    height: 100%;
  }
  .quick-action-wrapper {
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
    margin: auto;
  }
  .card-default {
    height: auto !important;
  }
  .responsive-search-bar .select2-selection {
    max-width: 250px !important;
    min-width: 250px;
  }
  .responsive-search-bar .content {
    width: 100% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .quick-action-wrapper {
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
    margin: auto;
  }
  .inner-nb {
    padding-bottom: 10px !important;
  }
  .inner-nb .navbar-brand {
    padding-top: 20px !important;
  }
  .btn-black span {
    display: none !important;
  }
  .btn-black img {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1345px) {
  .inner-nb {
    width: 100vw !important;
  }
  .inner-nb .navbar-brand img {
    width: 60% !important;
  }
  .inner-nb .navbar-collapse {
    padding-bottom: 20px;
  }
  .inner-nb .btn-user span {
    display: none;
  }
  .inner-nb .navbar-collapse {
    padding-bottom: 0 !important;
  }
  .profile {
    padding-top: 114px !important;
  }
  .feedbacks {
    margin-top: 50px;
  }
}

@media screen and (max-width: 991px) {
  .big-modal {
    min-width: 93% !important;
  }
}

.general-banner {
  width: 100vw;
  min-height: 35vh;
  margin-top: 128px;
  padding-top: 50px;
  background-image: url("../../images/general-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.general-banner .overlay {
  background-color: rgba(5, 151, 98, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.general-banner .content {
  position: relative;
  z-index: 1;
}

.general-banner .breadcrumb-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-banner .breadcrumb-wrapper p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

.general-banner .breadcrumb-wrapper a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
}

.general-banner .breadcrumb-wrapper a:hover, .general-banner .breadcrumb-wrapper a:active, .general-banner .breadcrumb-wrapper a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.general-banner .breadcrumb-wrapper .breadcrumb-item.active {
  color: #fff;
}

.general-banner .breadcrumb-wrapper .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.general-banner .breadcrumb-wrapper .breadcrumb {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-banner .content h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #fff;
  margin: 50px 0;
}

.life {
  background-color: rgba(5, 151, 98, 0.05);
}

.life .life-image-wrapper {
  padding: 20px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 20px;
}

.life .life-image-wrapper img {
  width: 100%;
}

.life .life-content {
  padding: 0 0 0 50px;
}

.life .life-content h2 {
  margin-bottom: 50px;
}

.life .life-content p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
}

.common-section p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
}

.common-section h2 {
  margin-bottom: 50px;
}

.about .content {
  padding-right: 50px;
}

.about .image-wrapper {
  margin-top: 100px;
}

.about .image-wrapper img {
  width: 100%;
}

.drop-cv {
  background-color: rgba(51, 170, 85, 0.9);
  padding: 50px 0;
}

.drop-cv .image-wrapper img {
  width: 100%;
}

.drop-cv .v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.drop-cv h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  width: 100%;
}

.drop-cv h2 span {
  color: #111;
  font-family: "Circular";
  font-weight: 700;
}

.drop-cv .btn-dropcv {
  padding: 10px 30px;
  background-color: #8fd03d;
  border: 1px solid #8fd03d;
  color: #fff;
  margin-top: 20px;
}

.drop-cv .btn-dropcv:hover, .drop-cv .btn-dropcv:active, .drop-cv .btn-dropcv:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  background-color: #059762;
  border: 1px solid #059762;
}

.general-banner.align-v-center {
  padding: 100px 0;
}

.bg-business {
  background-image: url("../../images/bg-business.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-align-center {
  text-align: center;
}

.add-new-wrapper {
  padding: 50px 0;
}

.add-new-wrapper .accordion-body {
  padding: 60px 40px;
}

.add-new-wrapper .helper-text {
  margin: 30px 0;
}

.terms ul {
  list-style-image: url("../../images/svg/check_list-image.svg");
  padding-left: 30px;
  margin-bottom: 0;
}

.terms ul li p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
  margin-left: 10px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
}

.common-h2 {
  margin-bottom: 50px;
}

.video-wrapper {
  margin: 50px 0;
}

.video-wrapper .video-card {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.video-wrapper .video-card .content {
  border-radius: 10px;
  overflow: hidden;
}

.video-wrapper .video-card .content iframe {
  border-radius: 10px;
}

.video-wrapper .video-card .info {
  padding-top: 15px;
}

.video-wrapper .video-card .info .common-h4 span {
  color: #059762;
  font-weight: 600;
}

.card-general {
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.card-general a {
  font-weight: 600 !important;
}

.card-general p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
  margin-bottom: 20px;
}

.card-general .group {
  margin-bottom: 20px;
}

.card-general .group:last-child {
  margin-bottom: 0;
}

.card-general .group h6 {
  color: #111;
  margin-bottom: 5px;
}

.card-general .group a {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #059762;
}

.card-general .group a:hover, .card-general .group a:active, .card-general .group a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  text-decoration: none;
  color: #8fd03d;
}

.spl-pad {
  margin: 0 0 0 50px;
}

.pos-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}

.help {
  padding-bottom: 70px !important;
}

.video-wrapper {
  margin-bottom: 20px;
}

.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #059762;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #059762;
  border-color: #059762;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #059762;
}

.card-body {
  padding: 0;
  border: none;
  background-color: transparent;
}

.collapse.show {
  margin-bottom: 10px;
}

.progress-bar {
  height: 10px;
  border-radius: 10px;
}

.progress {
  margin-bottom: 10px;
  height: 10px;
}

.progress:last-child {
  margin-bottom: 0px;
}

.nav-tabs {
  border: none !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent !important;
}

.nav-tabs .nav-link:hover::after {
  display: none;
}

.nav-tabs .nav-link {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #059762;
}

.tab-content {
  border-top-left-radius: 0 !important;
  border-radius: 10px;
  margin-top: -1px;
}

.location-wrapper {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}

.location-wrapper iframe {
  border-radius: 10px;
}

.keyword-wrapper .search-bar .btn-search {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;
}

.keyword-wrapper .search-bar span {
  margin-left: 10px;
}

.keyword-wrapper .keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyword-wrapper .keywords .keyword {
  margin-bottom: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .general-banner {
    margin-top: 74px;
  }
  .general-banner h2 {
    font-size: 32px !important;
  }
  .common-h2 {
    margin-bottom: 20px !important;
  }
  section {
    padding: 50px 0 !important;
  }
  section p {
    font-size: calc(16px - 2px) !important;
  }
  .common-section .content {
    padding: 0 !important;
  }
  .life p:last-child {
    margin-bottom: 0 !important;
  }
  .life .life-content {
    padding: 0 !important;
  }
  .life .life-image-wrapper {
    padding: 0 !important;
  }
  .open-positions {
    padding-bottom: 20px !important;
  }
  .accordion-section {
    margin-top: 0 !important;
  }
  .accordion-section .accordion {
    margin-bottom: 30px;
  }
  .accordion-section .accordion-button {
    font-size: 16px !important;
  }
  .drop-cv h2 {
    font-size: 24px !important;
    line-height: 40px !important;
  }
  .drop-cv .image-wrapper {
    margin-top: 30px !important;
  }
  .drop-cv .image-wrapper img {
    width: 100% !important;
  }
  .video-card {
    margin-bottom: 30px !important;
  }
  .help {
    padding-bottom: 0 !important;
  }
  .video-wrapper {
    margin-bottom: 20px;
  }
  .card-general {
    margin-left: 0 !important;
  }
  .add-new-wrapper .accordion-body {
    padding: 30px 20px !important;
  }
  .add-new-wrapper .accordion {
    margin-bottom: 0 !important;
  }
  #upload-cover {
    width: 100% !important;
  }
  #upload-cover .stage {
    width: 100% !important;
    height: 120px !important;
  }
  .cover-image-wrapper #img-crop-cover #upload-cover label#filedrag-cover {
    background-size: 10% auto !important;
  }
  .location-wrapper {
    padding: 10px !important;
  }
  .contact-card {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .video-card {
    margin-bottom: 30px !important;
  }
  .help {
    padding-bottom: 0 !important;
  }
  .video-wrapper {
    margin-bottom: 20px;
  }
  .common-h2 {
    margin-bottom: 20px !important;
  }
  .general-banner .content h2 {
    font-size: 48px !important;
  }
  .life p:last-child {
    margin-bottom: 0 !important;
  }
  .life .life-content {
    padding: 0 !important;
  }
  .life .life-image-wrapper {
    padding: 0 !important;
  }
  .accordion-section {
    margin-top: 0 !important;
  }
  .accordion-section .accordion {
    margin-bottom: 30px;
  }
  .accordion-section .accordion-button {
    font-size: 16px !important;
  }
  .drop-cv h2 {
    font-size: 24px !important;
    line-height: 40px !important;
  }
  .drop-cv .image-wrapper {
    margin-top: 30px !important;
  }
  .card-general {
    margin-left: 0 !important;
  }
}

.business-profile .cover-bg {
  border-radius: 20px;
}

.business-profile .profile-pic {
  margin: -100px auto 30px auto;
}

.business-profile .general-info {
  text-align: center;
}

.business-profile .general-info h2,
.business-profile .general-info p,
.business-profile .general-info i {
  text-align: center;
}

.business-profile .general-info .overall-rating {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.business-profile .general-info h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #111;
}

.business-profile .general-info .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.business-profile .btn-plus,
.business-profile .location-wrapper {
  background-color: #fff;
}

.business-profile .nav-link {
  border-radius: 10px;
  padding: 10px 20px;
  overflow: hidden;
}

.business-profile .nav-item .nav-link:hover::after {
  display: none !important;
}

.business-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px;
}

.business-list .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow: hidden;
  margin-right: 20px;
}

.business-list .logo img {
  width: 100%;
}

.business-list .name-list {
  margin-bottom: 0;
}

.btn-b-list {
  text-align: left;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  border-radius: 10px;
  background-color: #fff;
  height: auto !important;
  width: 100% !important;
}

.btn-b-list .business-list {
  padding: 20px 0;
}

.btn-b-list h5 {
  margin-bottom: 0 !important;
}

.btn-check:active + .btn-b-list,
.btn-check:checked + .btn-b-list,
.btn-b-list.active,
.btn-b-list:active,
.show > .btn-b-list.dropdown-toggle {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #059762;
  color: #fff;
}

.btn-check:active + .btn-b-list .logo,
.btn-check:checked + .btn-b-list .logo,
.btn-b-list.active .logo,
.btn-b-list:active .logo,
.show > .btn-b-list.dropdown-toggle .logo {
  border: 2px solid #8fd03d;
}

.subscription-card {
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.subscription-card .amount {
  text-align: center;
}

.subscription-card .amount h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #666;
  margin-bottom: 10px;
}

.subscription-card .amount h2 {
  font-weight: 700;
  margin-bottom: 30px;
}

.subscription-card .amount h2 span {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #666;
}

.subscription-card .sub-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 22px;
}

.subscription-card .sub-cnt img {
  width: 18px;
  margin-right: 20px;
}

.subscription-card .sub-cnt p {
  margin: -2px 0 0 0;
  color: #666 !important;
}

.subscription-card .sub-h2 {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(5, 151, 98, 0.1);
  color: #059762;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.subscription-card.highlighted {
  background-color: #33aa55;
  color: #fff;
}

.subscription-card.highlighted h2,
.subscription-card.highlighted h3,
.subscription-card.highlighted p,
.subscription-card.highlighted a,
.subscription-card.highlighted span {
  color: #fff !important;
}

.subscription-card.highlighted .btn {
  background-color: #8fd03d !important;
}

.subscription-card.highlighted .sub-h2 {
  background-color: rgba(255, 255, 255, 0.3);
}

.vertical-tabs-container .vertical-tab-accordion-heading:focus,
.vertical-tabs-container .vertical-tab-accordion-heading:hover {
  color: #059762 !important;
}

.savd-content .listing-wrapper {
  -ms-grid-columns: (1fr)[4] !important;
      grid-template-columns: repeat(4, 1fr) !important;
}

@media screen and (max-width: 575px) {
  .btn-b-list {
    height: auto;
    padding: 0;
  }
  .business-information ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }
  .business-information ul button,
  .business-information ul .btn {
    white-space: nowrap;
    margin-bottom: 20px;
  }
  .business-information .tab-content {
    padding: 30px 0 !important;
  }
  .savd-content .listing-card {
    padding: 10px !important;
  }
  .savd-content .listing-card .image-wrapper {
    height: 160px !important;
  }
  .savd-content .listing-card .top-section h5 {
    font-size: 18px !important;
    line-height: 20px !important;
    height: 40px;
  }
  .savd-content .listing-wrapper {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    width: 100% !important;
    grid-column-gap: 15px !important;
    grid-row-gap: 15px !important;
  }
  .vertical-tab-content {
    padding: 15px !important;
  }
  #tab5 {
    background-color: rgba(5, 151, 98, 0.1);
  }
}

.vertical-tabs-container {
  border-radius: 10px;
  margin-bottom: 1.5em;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.vertical-tabs-container::after {
  clear: both;
  content: "";
  display: block;
}

.vertical-tabs-container li {
  list-style: none;
}

.vertical-tabs-container a {
  color: #059762;
  text-decoration: none;
}

.vertical-tabs-container .vertical-tabs {
  display: none;
}

@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tabs {
    background-color: white;
    display: inline;
    float: left;
    height: 100%;
    width: 20%;
  }
}

@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tab {
    border-bottom: 1px solid #ddd;
    display: block;
    font-weight: bold;
    margin-right: -1px;
    padding: 20px;
  }
  .vertical-tabs-container .vertical-tab:last-child {
    border-bottom: 1px solid transparent;
  }
  .vertical-tabs-container .vertical-tab.is-active {
    background-color: rgba(5, 151, 98, 0.1);
    color: #059762;
    margin-right: -1px;
  }
}

.vertical-tabs-container a.vertical-tab-accordion-heading,
.vertical-tabs-container a.vertical-tab {
  color: #333;
}

.vertical-tabs-container .vertical-tab:focus {
  outline: none;
}

.vertical-tabs-container .vertical-tab-content-container {
  display: block;
  margin: 0 auto;
}

.vertical-tabs-container .vertical-tab-content-container a:focus {
  outline: none;
}

@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tab-content-container {
    height: auto;
    width: 80%;
    background-color: rgba(5, 151, 98, 0.05);
    display: inline-block;
  }
}

.vertical-tabs-container .vertical-tab-content {
  padding: 1.5em 1.618em;
}

.vertical-tabs-container .vertical-tab-content p {
  color: #333;
  line-height: 1.5em;
}

@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tab-content {
    border: none;
    display: none;
  }
}

.vertical-tabs-container .vertical-tab-accordion-heading {
  background-color: white;
  border-top: 1px solid gainsboro;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 0.75em 0.809em;
}

.vertical-tabs-container .vertical-tab-accordion-heading:focus,
.vertical-tabs-container .vertical-tab-accordion-heading:hover {
  color: #477dca;
}

.vertical-tabs-container .vertical-tab-accordion-heading:first-child {
  border-top: none;
}

.vertical-tabs-container .vertical-tab-accordion-heading.is-active {
  background: #f6f6f6;
  border-bottom: none;
}

@media screen and (min-width: 40em) {
  .vertical-tabs-container .vertical-tab-accordion-heading {
    display: none;
  }
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.title-wrapper i {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  border-radius: 50%;
  background-color: rgba(5, 151, 98, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #059762;
  font-size: 16px;
  margin-right: 20px;
}

.notification-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1rem;
}

.notification-card .dp {
  width: 60px !important;
  height: 60px !important;
  min-width: 60px !important;
  border-radius: 50%;
  background-color: rgba(5, 151, 98, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  min-height: 60px;
  overflow: hidden;
}

.notification-card .dp img {
  width: 100%;
}

.notification-card .dp p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
  margin: 0;
}

.notification-card .dp i {
  color: #059762;
  font-size: 20px;
}

.notification-card .main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notification-card .main-content p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
  margin-bottom: 0px;
}

.notification-card .main-content .auther-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification-card .main-content .auther-info p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #666;
  margin-left: 10px;
}

.notification-card .main-content .auther-info h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #000;
  margin: 0;
  text-align: left !important;
}

.notification-card .right-portion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notification-card .right-portion .flex-container i {
  color: #059762;
  margin-right: 10px;
}

.notification-card .right-portion .flex-container h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #059762;
}

.notification-card h3 {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #059762;
  text-transform: uppercase;
}

.notification-card .reply-btn {
  text-align: left !important;
}

.resp-tab-active .notification-card {
  background-color: rgba(5, 151, 98, 0.1);
  border-color: transparent;
}

.resp-accordion.resp-tab-active .notification-card {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

@media screen and (max-width: 767px) {
  .notification-card {
    padding: 10px !important;
  }
  .notification-card .dp {
    width: 40px !important;
    min-width: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
    border-radius: 40px !important;
  }
  .notification-card .dp i {
    font-size: 16px !important;
  }
  .notification-card .main-content h6 {
    font-size: 16px !important;
  }
}
/*# sourceMappingURL=innerpages.css.map */